[2020-03-11 18:22] csantanapr commented on #26
This is merged now in `ocp43-lite-argocd` barnch

[2020-03-11 18:23] csantanapr commented on #20
this is merged in `ocp43-lite` branch

[2020-03-12 22:19] csantanapr opened #31 "Destroy in cluster postgress stuck and never exits"
terraform destroy

[code]

[2020-03-13 01:26] csantanapr commented on #33
Workaround for now re-install tasks manually
[code]
Verify tasks are now installed
[code]

[2020-03-14 00:19] csantanapr commented on #23
This is fixed now

[2020-03-16 04:04] seansund commented on #36
Duplicate of ibm-garage-cloud/planning#142

[2020-03-18 07:03] seansund commented on #15
This is available in v2.2.9 (if not earlier)

[2020-03-19 22:09] csantanapr commented on #19
This is fixed now

[2020-03-19 22:09] csantanapr commented on #31
This is fixed now

[2020-03-19 22:09] #31 closed

[2020-03-19 22:10] csantanapr commented on #33
I have not seeing this happened again

[2020-03-19 22:12] csantanapr commented on #36
this is fixed now

[2021-12-02 20:12] seansund commented on #129
Module created in repo - https://github.com/cloud-native-toolkit/terraform-gitops-openldap

[2021-12-03 13:56] NoeSamaille commented on #128
@seansund can you approve this request for ascent gitops module?

[2021-12-03 16:14] tcskill opened #131 "Request new module: cert manager for mas"
**Related user story**
493

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
all

**What is the purpose of the module?**
deploy cert-mgr as part of a mas / maximo install

**What is the category of the module?**
middleware

[2021-12-03 16:20] seansund commented on #128
The module has been provisioned - https://github.com/cloud-native-toolkit/terraform-gitops-ascent

@NoeSamaille you should have an invitation maintainer as a maintainer

[2021-12-08 18:27] seansund commented on #130
Created repostory - https://github.com/cloud-native-toolkit/terraform-gitops-ocp-storageclass

[2021-12-08 18:37] seansund commented on #131
Provided repo - https://github.com/cloud-native-toolkit/terraform-gitops-cp-cert-manager

[2021-12-08 18:37] #131 closed

[2021-12-08 18:42] seansund commented on #132
Provided repo - https://github.com/cloud-native-toolkit/terraform-aws-bastion

@Sivasaivm You have been added to the repo with Maintainer access

[2021-12-14 12:48] seansund commented on #134
/name vpc-subnets

[2021-12-14 12:49] seansund commented on #134
Repo created - https://github.com/cloud-native-toolkit/terraform-aws-vpc-subnets

@indirakalagara You have been invited to be an admin of the repo

[2021-12-14 15:24] seansund commented on #135
/name ocp-turbonomic

[2021-12-17 15:00] seansund commented on #138
Repo created - https://github.com/cloud-native-toolkit/terraform-gitops-cp-odm

[2021-12-17 15:00] seansund commented on #137
Repo created - https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2

[2021-12-17 15:04] seansund commented on #140
Repo created - https://github.com/cloud-native-toolkit/terraform-gitops-cp-sls

[2021-12-17 23:25] seansund commented on #139
Created repo - https://github.com/cloud-native-toolkit/terraform-gitops-db2-schema

[2021-12-29 23:09] seansund commented on #138
/softwareProvider ibm-cp

[2021-12-29 23:21] seansund commented on #138
/group odm

[2022-01-04 14:56] seansund commented on #148
/name vpc

[2022-01-05 20:25] seansund commented on #153
/name cp4d-operator

[2022-01-09 04:21] seansund commented on #158
@SaloniRathi Does this script install all of Cloud Pak for Security on a cluster? Our strategy is to "un-pack" the components of the cloud paks and instead of having one module to install the entire cloud pak, we have individual modules to install the individual software components. Provide a listing of the software components in CP4S and we can create individual modules for each of them.

[2022-01-09 04:30] seansund commented on #163
/displayName Pull Secret

[2022-01-09 05:25] seansund commented on #163
/group pull-secret

[2022-01-10 01:12] seansund commented on #165
/displayName Bootstrap GitOps

[2022-01-13 16:44] seansund commented on #166
/group vsi

[2022-01-13 16:45] seansund commented on #166
/displayName AWS EC2

[2022-01-13 16:45] seansund commented on #166
/name ec2

[2022-01-13 17:03] seansund commented on #167
/group db2

[2022-01-13 17:03] seansund commented on #167
/name db2

[2022-01-13 17:03] seansund commented on #167
/displayName IBM DB2

[2022-01-17 06:23] addanuj commented on #158
@seansund  our contribution here is to provide a module that automates the deployment of CP4S on any cloud, with an assumption that required hardware and OCP cluster have already been set up and running.
In other words, we are contributing a module at the 4xx (Applications) layer of software everywhere.
CP4S is a single application that cannot be further broken into individual components,
refer to

[2022-01-19 17:44] seansund commented on #177
/displayName CP4D Instance

[2022-01-19 17:44] seansund commented on #177
/name cp4d-instance

[2022-01-19 20:36] triceam commented on #168
done: https://github.com/cloud-native-toolkit/terraform-gitops-db2-instance

[2022-01-19 20:36] triceam commented on #178
done: https://github.com/cloud-native-toolkit/terraform-gitops-cp-foundational-services

[2022-01-25 10:57] seansund commented on #199
/name rosa

[2022-01-25 10:57] seansund commented on #199
/displayName AWS ROSA

[2022-01-25 10:58] seansund commented on #190
/name mongo-ce

[2022-01-25 10:58] seansund commented on #190
/displayName Mongo CE

[2022-01-25 12:14] gowdhaman-j commented on #191
Request you to
1. Approve my request
2. Pls add Collaborator for this feature kanand3

[2022-01-27 05:28] indirakalagara commented on #189
please add @JyotiRani as a collaborator to this repo

[2022-01-27 13:40] seansund commented on #189
/name cp-event-streams

[2022-01-27 13:40] seansund commented on #189
/displayName Event Streams

[2022-01-27 13:40] seansund commented on #189
/group kafka

[2022-01-27 13:51] seansund commented on #191
/name mq-uniform-cluster

[2022-01-27 13:52] seansund commented on #191
/displayName CP MQ Uniform Cluster

[2022-01-27 13:54] seansund commented on #191
@gowdhaman-j We already have a module to provision the MQ operator and are working on another one to provision an instance of MQ via the operator. What will this module be doing differently from those two? Will it deploy a particular configuration of MQ? Is it something that would run on top of the MQ instance module we are building?

[2022-01-27 13:55] seansund commented on #195
/name ssh-key

[2022-01-27 13:55] seansund commented on #195
/displayName AWS SSH Key

[2022-01-27 14:04] seansund commented on #196
/group vpn

[2022-01-27 14:04] seansund commented on #196
/name vpn-server

[2022-01-27 14:04] seansund commented on #196
/displayName AWS VPN Server

[2022-01-27 14:08] seansund commented on #198
@Sivasaivm Isn't this a duplicate of https://github.com/cloud-native-toolkit/automation-modules/issues/196 ?

[2022-01-27 14:09] seansund commented on #197
/name kms

[2022-01-27 14:09] seansund commented on #197
/group kms

[2022-01-27 14:09] seansund commented on #197
/displayName AWS KMS

[2022-01-28 04:59] seansund commented on #201
/displayName CP Queue Manager

[2022-01-28 05:00] seansund commented on #201
/group queue-manager

[2022-01-28 13:27] triceam commented on #202
/displayName Data Virualization

[2022-01-28 13:28] triceam commented on #202
/displayName Data Virtualization

[2022-01-28 14:57] triceam commented on #192
Copying in content from the email here:

[2022-01-28 17:29] triceam commented on #202
Repo renamed to https://github.com/cloud-native-toolkit/terraform-gitops-data-virtualization

[2022-01-28 17:55] triceam commented on #204
/displayName foo

[2022-02-01 06:05] sgumpana commented on #192
Sean can you approve this ? this is pending from last 10 days. We are blocked on this.

[2022-02-01 11:33] seansund commented on #192
/displayName CP Data Fabric

[2022-02-01 15:13] sgumpana opened #211 "Request new module: cp-data-virtualization"
**Related user story**
[Issue 543](https://github.ibm.com/gsi-labs/industry-cloud-planning/issues/543)

**Type of module**
 gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
Terraform module to install DV in CP4D. (https://www.ibm.com/docs/en/cloud-paks/cp-data/4.0?topic=services-data-virtualization)

**What is the category

[2022-02-01 15:16] sgumpana commented on #211
Note: this is to install Data Virtualization on CP4D. (https://www.ibm.com/docs/en/cloud-paks/cp-data/4.0?topic=services-data-virtualization)
This is different from https://github.com/cloud-native-toolkit/terraform-gitops-data-virtualization (Provision DV instance inside CP4D. (https://www.ibm.com/docs/en/cloud-paks/cp-data/4.0?topic=virtualization-provisioning-service))

[2022-02-01 17:39] seansund commented on #213
/displayName CP TrustStore

[2022-02-01 18:58] seansund commented on #212
/displayName CP Watson Studio

[2022-02-01 18:59] seansund commented on #211
/displayName CP Data Virtualization

[2022-02-01 19:03] #211 closed

[2022-02-01 19:06] seansund commented on #211
@sgumpana invited to repo with write access

[2022-02-01 19:08] seansund commented on #212
@sgumpana invited to repo with write access

[2022-02-01 19:09] seansund commented on #202
@spansare invited to repo with write access

[2022-02-01 20:49] seansund commented on #210
/displayName CP Sterling Order Management

[2022-02-01 20:49] seansund commented on #210
/softwareProvider: ibm-cp

[2022-02-02 06:44] seansund commented on #216
/displayName CP Behavior Analytics Service

[2022-02-02 06:45] seansund commented on #216
/softwareProvider ibm-cp

[2022-02-02 10:59] faheemshai commented on #218
Duplicated request repo already  exists
(https://github.com/cloud-native-toolkit/terraform-aws-vpn-server)

[2022-02-02 11:00] faheemshai commented on #217
Duplicated request Repo already exists
(https://github.com/cloud-native-toolkit/terraform-aws-kms)

[2022-02-02 13:26] indirakalagara commented on #219
Please add @dineshchandrapandey as collaborator

[2022-02-02 13:27] indirakalagara commented on #219
Please add @dineshchandrapandey,  @saratrip , @dileeppaul   as collaborators

[2022-02-02 16:53] seansund commented on #219
/displayName CP Business Automation operator

[2022-02-02 16:53] seansund commented on #219
/softwareProvider ibm-cp

[2022-02-02 17:06] seansund commented on #214
/displayName CP Watson Knowledge Catalog

[2022-02-02 17:06] seansund commented on #214
/softwareProvider ibm-cp

[2022-02-02 17:52] seansund commented on #215
/displayName Watson Machine Learning

[2022-02-02 17:52] seansund commented on #215
/softwareProvider ibm-cp

[2022-02-02 19:06] seansund commented on #215
@spansare has been invited to the repo

[2022-02-02 19:07] seansund commented on #220
/displayName AWS S3 Instance

[2022-02-02 19:08] seansund commented on #220
/group object-storage

[2022-02-03 09:26] GandhiCloudLab commented on #223
title modified

[2022-02-04 14:48] seansund commented on #222
This is a duplicate of https://github.com/cloud-native-toolkit/automation-modules/issues/189 which has already been created and to which @JyotiRani you have already been added as a collaborator

[2022-02-04 14:49] seansund commented on #221
/name s3-bucket

[2022-02-04 14:49] seansund commented on #221
/displayName AWS S3 Bucket

[2022-02-04 14:49] seansund commented on #221
/group object-storage-bucket

[2022-02-04 14:58] seansund commented on #221
@sgumpana added to repo with write permissions

[2022-02-04 14:59] seansund commented on #223
/displayName Watson AI Ops

[2022-02-04 14:59] seansund commented on #223
/softwareProvider ibm-cp

[2022-02-05 23:28] seansund opened #227 "Catalog UI: Make module count more prominent"

[2022-02-05 23:29] #227 closed

[2022-02-07 05:00] JyotiRani commented on #222
@seansund #189 is to create the Event Stream operator (CRD), while this module is to create an instance (CR) of the Event Streams hence i created a separate module for it. Plz verify and confirm.

[2022-02-08 11:00] seansund commented on #230
/name mongo-ce-instance

[2022-02-08 11:00] seansund commented on #230
/group mongodb

[2022-02-08 11:00] seansund commented on #230
/displayName MongoCE Instance

[2022-02-08 11:50] seansund commented on #222
/name cp-event-streams-instance

[2022-02-08 11:51] seansund commented on #222
/displayName Event Streams instance

[2022-02-08 11:51] seansund commented on #222
/group kafka

[2022-02-09 14:57] diimallya commented on #158
@seansund
As per the documentation of CP4S installation, it is all about deploying a single operator and an instance of that. Ref: https://www.ibm.com/docs/en/cloud-paks/cp-security/1.9?topic=installing-cloud-pak-security-by-using-openshift-web-console.
Hence planning to implement in single gitops module. Could you please change the type of this module request to gitops and approve the same so tha

[2022-02-09 16:41] yogendrasri opened #233 "Request new module: ODM on CP4A"
**Related user story**
https://github.ibm.com/gsi-labs/industry-cloud-planning/issues/612#issue-26634556

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc

**What is the purpose of the module?**
Module to provision Operational Decision Manager (ODM) on CP4A via GitOps

**What is the category of the module?**
Middleware

[2022-02-10 12:33] JyotiRani commented on #222
@seansund can you please approve this module?

[2022-02-14 17:29] seansund commented on #158
/name cp4s

[2022-02-14 20:19] triceam commented on #236
renamed module to https://github.com/cloud-native-toolkit/terraform-aws-portworx

[2022-02-15 08:57] indirakalagara commented on #234
Please add below collaborators
 @indirakalagara @dineshchandrapandey @saratrip  @DileepPaul

[2022-02-15 08:57] indirakalagara commented on #232
Please add below collaborators
 @indirakalagara @dineshchandrapandey @saratrip  @DileepPaul

[2022-02-16 05:38] seansund commented on #232
/name cp4ba

[2022-02-16 05:38] seansund commented on #232
/displayName Cloud Pak for Business Automation operator

[2022-02-16 23:55] seansund commented on #233
/name cp-ocm

[2022-02-16 23:55] seansund commented on #233
/displayName IBM ODM

[2022-02-16 23:56] seansund commented on #233
/softwareProvider ibm-cp

[2022-02-16 23:56] seansund commented on #233
/group odm

[2022-02-16 23:58] #233 closed

[2022-02-16 23:58] seansund commented on #234
/name cp-business-automation-navigator

[2022-02-16 23:59] seansund commented on #234
/displayName IBM Business Automation Navigator and UMS operator

[2022-02-16 23:59] seansund commented on #234
/softwareProvider ibm-cp

[2022-02-18 00:45] seansund commented on #241
/displayName Api Connect Instance

[2022-02-18 00:46] seansund commented on #241
/softwareProvider ibm-cp

[2022-02-18 00:46] seansund commented on #241
/group api-management

[2022-02-18 00:54] seansund commented on #241
Renaming the existing `gitops-cp-apic` to `gitops-cp-apic-operator` module before creating this one as `gitops-cp-apic`

[2022-02-18 00:56] seansund commented on #245
/displayName Azure VPC Subnets

[2022-02-18 00:56] seansund commented on #245
/group vpc-subnets

[2022-02-18 13:50] indirakalagara commented on #232
@seansund  Can you please rename the repo to terraform-gitops-cp-iaf-operator

[2022-02-18 17:39] seansund commented on #248
/group openshift

[2022-02-22 12:19] seansund commented on #246
/displayName DB2 Schema

[2022-02-22 12:20] seansund commented on #247
/displayName ACE Dashboard

[2022-02-22 12:21] seansund commented on #247
/softwareProvider ibm-cp

[2022-02-22 12:30] seansund commented on #247
Repo created - https://github.com/cloud-native-toolkit/terraform-gitops-cp-ace-dashboard

[2022-02-22 12:31] seansund commented on #250
/name internet-gateway

[2022-02-22 12:31] seansund commented on #250
/displayName AWS Internet Gateway

[2022-02-22 12:31] seansund commented on #250
/group vpc-gateways

[2022-02-22 12:33] seansund commented on #251
/displayName ACE Designer

[2022-02-22 12:33] seansund commented on #251
/softwareProvider ibm-cp

[2022-02-22 12:34] seansund commented on #251
/group ace-designer

[2022-02-22 12:41] seansund commented on #246
Repo created - https://github.com/cloud-native-toolkit/terraform-gitops-db2-schema

[2022-02-26 01:18] seansund commented on #253
/group vpc-gateways

[2022-02-26 01:18] seansund commented on #253
/name vpc-gateways

[2022-02-26 01:19] seansund commented on #253
/displayName AWS NAT Gateway

[2022-02-26 01:20] seansund commented on #260
/softwareProvider ibm-cp

[2022-02-26 01:21] seansund commented on #260
/name cp-datapower

[2022-02-26 01:21] seansund commented on #260
/displayName DataPower

[2022-03-02 12:59] JyotiRani opened #263 "Request new module: gitops module to provision Aspera operator in CP4I"
**Related user story**
Gitops module to provision Aspera operator in CP4I

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc

**What is the purpose of the module?**
This module will provision Aspera operator in Cloud pak for integration

**What is the category of the module?**
integration

[2022-03-03 05:16] JyotiRani commented on #263
@seansund can you plz approve this module

[2022-03-03 05:16] JyotiRani commented on #264
@seansund can you please approve this?

[2022-03-03 08:55] GandhiCloudLab commented on #223
All the components of the WAIOPs are not fully containerised. AIMgr and EventMgr can be deployed but Metric Manager would be available as containerised version from V3.3 to be released on March 30th. We are targeting this module for Q2.

[2022-03-04 17:49] RamyaRaghuveera commented on #266
@seansund could you please rename this module to gitops-db2oltp - https://github.com/cloud-native-toolkit/terraform-gitops-db2-schema and create the new module with name gitops-db2schema

[2022-03-07 14:08] triceam commented on #269
/name portworx

[2022-03-07 17:35] timroster commented on #270
Candidate repo to use for module: <https://github.com/timroster/terraform-vsi-proxy>

[2022-03-07 17:36] timroster commented on #271
candidate repo to use for module: <https://github.com/timroster/terraform-ocp-proxyconfig>

[2022-03-08 11:19] seansund commented on #262
/name iam-user

[2022-03-08 11:19] seansund commented on #262
/displayName AWS IAM User

[2022-03-08 11:21] seansund commented on #263
/name cp-aspera

[2022-03-08 11:21] seansund commented on #263
/displayName Aspera operator

[2022-03-08 11:30] seansund commented on #263
/softwareProvider ibm-cp

[2022-03-08 11:33] #263 closed

[2022-03-08 11:34] seansund commented on #264
/name cp-aspera

[2022-03-08 11:34] seansund commented on #264
/displayName Aspera

[2022-03-08 11:34] seansund commented on #264
/softwareProvider ibm-cp

[2022-03-08 11:36] seansund commented on #265
/displayName Watson AIOps Event Manager

[2022-03-08 11:36] seansund commented on #265
/softwareProvider ibm-cp

[2022-03-08 11:40] seansund commented on #268
/name vpc-peering

[2022-03-08 11:40] seansund commented on #268
/displayName AWS VPC Peering

[2022-03-08 11:43] seansund commented on #272
duplicate

[2022-03-08 11:44] seansund commented on #267
duplicate

[2022-03-08 12:30] seansund commented on #266
/name cp-db2-schema

[2022-03-08 12:31] seansund commented on #266
/displayName DB2 Schema

[2022-03-08 12:31] seansund commented on #266
/softwareProvider ibm-cp

[2022-03-09 13:02] kanand3 commented on #276
@sean, Kindly approve this module. Thanks.

[2022-03-10 05:17] seansund commented on #273
/name load-balancer

[2022-03-10 05:17] seansund commented on #273
/displayName AWS Load Balancer

[2022-03-10 05:18] seansund commented on #273
/group load-balancer

[2022-03-10 05:18] seansund commented on #274
/name cp-asset-repository

[2022-03-10 05:19] seansund commented on #274
/displayName Asset Repository

[2022-03-10 05:19] seansund commented on #274
/softwareProvider ibm-cp

[2022-03-10 05:20] seansund commented on #275
/name cp-operations-dashboard

[2022-03-10 05:20] seansund commented on #275
/displayName Operations Dashboard

[2022-03-10 05:20] seansund commented on #275
/softwareProvider ibm-cp

[2022-03-10 05:22] seansund commented on #276
/displayName DataPower

[2022-03-10 05:22] seansund commented on #276
/softwareProvider ibm-cp

[2022-03-11 19:15] seansund opened #1 "Maximo Core automation"
Publish content to: https://github.com/IBM/automation-maximo-app-suite

## Definition of Done

- [ ] link to Public Git Repo Epic - https://github.com/IBM/automation-maximo-app-suite
- [ ] link to Public BOM - https://github.com/cloud-native-toolkit/automation-solutions

## Required Automation Modules

- [x] Portworx storage
    - [x] ROKS portworx
    - [x] ROSA portworx
    - [x] ~ARO portworx~

[2022-03-11 19:19] seansund opened #2 "Request new module: ocp-ca-issuer"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
N/A

**What is the purpose of the module?**
Populates a gitops repo with the custom resource required to create a CA Issuer

**What is the category of the module?**
security

[2022-03-11 19:26] seansund commented on #2
/name: ocp-ca-issuer

[2022-03-11 19:26] seansund commented on #2
/displayName: Certificate CA Issuer

[2022-03-11 19:29] #2 closed, assigned to seansund

[2022-03-12 13:43] seansund opened #5 "Remove old module content from the repo"
Early on, this repo housed all of the modules in one place. Eventually we figured out this created too many issues so we split the modules into separate repos and moved the content out as we needed the modules. Some modules were not used again and were never moved.

At this point, we should just delete the unused modules. If necessary, we always have the Git history to recover any that we might ne

[2022-03-12 14:47] #5 closed, assigned to seansund

[2022-03-14 13:58] seansund opened #6 "Update the new module automation process"
Currently, the new module process closes the issue once the repository is created. However, it would be good to keep that issue open until the initial release of the module has been made. (We are beginning to enforce the policy that every PR must have an associated issue and reusing the new module request issue would prevent unnecessary duplicates.)

Instead of closing the issue, perhaps we can us

[2022-03-14 14:04] seansund opened #7 "New module process should add the module repo to the planning board"
When a new module repo is created we should add it to the planning board as well as to the catalog.

[2022-03-14 18:01] triceam opened #8 "GitOps module for Maximo - Manage"
# Required Modules

- Cluster (can use multiple, already completed)
- RWX (read-write many) Storage (Portworx or ODF)
- [x] [Maximo Core](https://github.com/cloud-native-toolkit/automation-modules/issues/1)
- [ ] DB2
- [ ] DB2WH (optional - either db2u or db2wh)
- [x] Install Maximo Manager operator (`ibm-mas-manage.v8.3.0`)
- [x] Configure/deploy maximo `ManageApp` custom resource (new mod req ne

[2022-03-14 18:01] triceam opened #9 "GitOps module for Maximo - Monitor"
# Required Modules

- Cluster
- RWX Storage
- [ ] [Maximo Core](https://github.com/cloud-native-toolkit/automation-modules/issues/1)
- [ ] DB2 or DB2WH
- [ ] MongoDB
- [ ] Kafka
- [ ] Install Maximo Monitor operator (`ibm-mas-monitor.v8.7.0`)
- [ ] Configure/deploy maximo `ManageMonitor` custom resource

Does the maximo workspace get created automatically?

<img width="694" alt="image" src="https:

[2022-03-14 18:01] triceam opened #10 "GitOps module for Maximo - Health"
# Required Modules

- Cluster
- RWX Storage
- [ ] [Maximo Core](https://github.com/cloud-native-toolkit/automation-modules/issues/1)
- [ ] [Maximo Manage](https://github.com/cloud-native-toolkit/automation-modules/issues/8)
- [ ] Module to create `HealthApp` CR deployment
- [ ] To ensure database type is "Relational DB"

Does maximo health workspace get created automatically?

<img width="694" alt

[2022-03-14 18:01] triceam opened #11 "GitOps module for Maximo - Predict"
# Required Modules

- Cluster
- RWX Storage
- [ ] [Maximo Core](https://github.com/cloud-native-toolkit/automation-modules/issues/1)
- [ ] DB2 or DB2WH
- [ ] Install Maximo Predict operator (`ibm-mas-predict.v8.5.0`)
- [ ] Configure/deploy maximo `PredictApp` custom resource
- [ ] Maximo Monitor and Health Module installed
- [ ] Watson Studio and Watson ML Installed in CP4d

Does the workspace get

[2022-03-14 18:02] triceam opened #12 "GitOps module for Maximo - Visual Inspection"
Overview: https://www.ibm.com/docs/en/mas87/8.7.0?topic=applications-maximo-visual-inspection
Predeploy steps: https://www.ibm.com/docs/en/mas87/8.7.0?topic=applications-maximo-visual-inspection
- Setup GPU accelerated node(s)
- Configure security

Deployment:
- `ibm-mas-visualinspection operator`
- `VisualInspectionApp` deployment
- Visual inspection app workspace??
- Visual Inspection Edge model

[2022-03-14 18:02] triceam opened #13 "GitOps module for Maximo - Assist"
Docs: https://www.ibm.com/docs/en/maximo-assist/8.0.0

- object storage
- `mas-mas8-assist` operator
- `AssistApp`
- `AssistBackup`
- `AssistRestore`
- workspace?
<img width="742" alt="image" src="https://user-images.githubusercontent.com/102552179/166068257-c1d00309-d07f-4235-83e8-5b7639ff9343.png">

[2022-03-14 18:02] triceam opened #14 "GitOps module for Maximo - Safety"
Docs: https://www.ibm.com/docs/en/maximo-safety/8.0.0

- `ibm-mas-safety` operator subscription
- `SafetyApp` deplotment
-  Safety workspace?
- database/jdbc
<img width="742" alt="image" src="https://user-images.githubusercontent.com/102552179/166068207-d3689845-94e1-42ba-901d-d380f11e571e.png">

[2022-03-14 18:02] triceam opened #15 "GitOps module for Maximo - MRO Inventory Optimization"
Docs: https://www.ibm.com/docs/en/mmio

- external MRO license

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/974294/160929179-a70db1a2-b943-4547-a862-4e834894db99.png">

<img width="884" alt="image" src="https://user-images.githubusercontent.com/102552179/166068056-5eefd5a0-ce17-48c8-b4f7-5cdb452b475e.png">

[2022-03-14 18:03] triceam opened #16 "GitOps module for Maximo - Health & Predict - Utilities Industry Solution"
Overview: https://www.ibm.com/docs/en/mas87/8.7.0?topic=solutions-maximo-health-predict-utilities

- Cluster
- RWX Storage
- [Maximo Health](https://github.com/cloud-native-toolkit/automation-modules/issues/10). (requires maximo manage and maximo core)
- [Maximo Predict](https://github.com/cloud-native-toolkit/software-everywhere/issues/11)
- App Connect
- Watson Studio
- Connect Maximo H&P with W

[2022-03-14 18:03] triceam opened #17 "GitOps module for Maximo - Aviation Industry Solution"
Docs: https://www.ibm.com/support/knowledgecenter/en/SS5RRF_7.6.8/com.ibm.mavm.doc/welcome.html

- Cluster
- RWX Storage
- Maximo Manage
- `aviation` component
- Database connection (JDBC)
- Scheduler Optimization

Does maximo workspace get created automatically?

<img width="912" alt="image" src="https://user-images.githubusercontent.com/102552179/165860642-bee0111d-7138-462d-8918-eb05783a0022.pn

[2022-03-14 18:03] triceam opened #18 "GitOps module for Maximo - Civil Infrastructure Industry Solution"
Docs: https://www.ibm.com/docs/en/maximo-ci/8.1.0

## Dependencies

- [x] Cluster
- [x] RWX Storage
- [x] [Maximo Manage](https://github.com/cloud-native-toolkit/software-everywhere/issues/105)
- [ ] [Database connection (JDBC)](https://github.com/cloud-native-toolkit/software-everywhere/issues/198)
- [ ] Scheduler Optimization - Optional

## Provides

- [ ] `civil` component (Maximo Spatial also

[2022-03-14 18:04] triceam opened #19 "GitOps module for Maximo - Nuclear Industry Solution"
Docs: https://www.ibm.com/support/knowledgecenter/en/SSLL8M_7.6.2/com.ibm.nuc.doc/welcome.html

- Cluster
- RWX Storage
- Maximo Manage
- `nuclear` component
- Database connection (JDBC)
- Scheduler Optimization

Does maximo workspace get created automatically?

<img width="912" alt="image" src="https://user-images.githubusercontent.com/102552179/165860680-dbf83c0e-2a9c-471d-97a0-2594ef870098.png"

[2022-03-14 18:04] triceam opened #20 "GitOps module for Maximo - Oil & Gas Industry Solution"
Docs: https://www.ibm.com/docs/en/mfo-and-g/7.6.2

- Cluster
- RWX Storage
- Maximo Manage
- `oilandgas` component
- Database connection (JDBC)
- Scheduler Optimization

[code]

Does maximo workspace get created automatically?

<img width="912" alt="image" src="https://user-images.githubusercontent.com/102552179/165860559-f0470fc9-050e-4fe6-bbad-dbd736fa576e.png">

[2022-03-14 18:05] triceam opened #21 "GitOps module for Maximo - Transportation Industry Solution"
Docs: https://www.ibm.com/support/knowledgecenter/en/SSLL9Z_7.6.2/com.ibm.trn.doc/welcome.html

- Cluster
- RWX Storage
- Maximo Manage
- `transportation` component
- Database connection (JDBC)
- Scheduler Optimization

Does maximo workspace get created automatically?

<img width="912" alt="image" src="https://user-images.githubusercontent.com/102552179/165860670-0be10a59-d685-4e12-864f-6f1a4f31c6

[2022-03-14 18:05] triceam opened #22 "GitOps module for Maximo - Utilities Industry Solution"
Docs: https://www.ibm.com/docs/en/maximo-for-utilities/7.6.1

- Cluster
- RWX Storage
- Maximo Manage
- `utilities` component
- Database connection (JDBC)
- Scheduler Optimization

Does maximo workspace get created automatically?

<img width="912" alt="image" src="https://user-images.githubusercontent.com/102552179/165860588-9a44b873-45f4-43f8-9f21-9a05132fc642.png">

[2022-03-14 19:55] triceam opened #23 "Tammy would like to entitle the entire OpenShift cluster to install/use Cloud Paks"
Module to apply cluster-wide entitlement key

CP4D requires a cluster-wide entitlement key.  Currently we work around it by creating an image pull secret in the namespaces where CP4D components will be deployed.

MAS-ansible automation has a playbook that we can reference/lift logic from that applies the secret cluster-wide and reboots worker nodes.  module that does this, so we can have 1 operati

[2022-03-15 14:19] NoeSamaille opened #24 "Request new module: azure-ocp-ipi"
**Related user story**
[712](https://github.ibm.com/gsi-labs/industry-cloud-planning/issues/712)

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Module to provision self-managed OpenShift via IPI/UPI on Azure

**What is the category of the module?**
cluster

[2022-03-15 20:44] triceam opened #25 "Db2 Module Naming & Description"
DB2 Modules have gotten a bit confusing.  We need to make sure that the modules names and descriptions properly convey the module function.  @yogendrasri @RamyaRaghuveera @balasgit can you confirm:

- https://github.com/cloud-native-toolkit/terraform-gitops-db2u-operator
   This installs the DB2U operato subscription.  I believe this is named correctly, and the PR has been reviewed/merged.

- http

[2022-03-15 21:52] seansund opened #26 "Create a gitops module to provision Aspera operator"

[2022-03-15 21:54] seansund opened #27 "Create a gitops module to provision an Aspera instance"

[2022-03-15 22:04] balasgit opened #28 "cp4d-instance instance is found in the catalog"
For some reason, gitops-cp4d-instance is not visible from the BOM even though the module exist in the Gitrepo.

i have verified name with "module.cloudnativetoolkit.net" but BOM keeps throwing errors as shown below.

iascable build -i 500-telco-cp4d.yaml
Name: gitops-telco-cloud-cp4d
Loading catalog from url: https://modules.cloudnativetoolkit.dev/index.yaml

Error: Unable to find module (undefine

[2022-03-16 09:50] yogendrasri commented on #25
@triceam [terraform-gitops-cp-db2-oltp](https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2-oltp) is ready for review, I answered question around entitlement. As per the document and Cp4d team, global authentication is required for entitlement key in cp4d env, Please advise?

[2022-03-16 10:54] Sivasaivm opened #30 "Create a BoM for AWS Standard Architecture using Terraform Automation"
This Standard architecture BoM helps Users/Customers to build simple robust architecture that can support a non-production workload in a SIngle VPC with VPN Endpoints just Management (Merge Edge and Management)

Standard Architecture:

https://github.com/cloud-native-toolkit/automation-solutions/blob/main/architectures/aws/aws-standard.md

- [x] AWS VPC

- [x] AWS Subnet

- [x] AWS ROSA

- [x] AWS

[2022-03-16 14:50] RamyaRaghuveera commented on #25
@triceam The name of the module for provisioning db2(https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2) was discussed and changed to cp-db2 in last week Tuesday's Office Hours call with everyone's consensus including you. Previously, it was created as db2 schema module. Hence, that description is there in README.md of main branch. I have updated it appropriately in my PR. I did discu

[2022-03-16 14:55] RamyaRaghuveera commented on #25
@triceam Absolutely correct. This module will apply a schema to an already-created DB2 instance. As we discussed in Office Hours' call yesterday, I need a base image with DB2 cli for the job to work. I will create a PR and push the changes once I get the image. Testing would not be possible without that image.

[2022-03-16 14:56] seansund opened #32 "Merge Solution Automation content into Software Everywhere repo"

[2022-03-16 15:04] RamyaRaghuveera commented on #25
@triceam If you still would like to reconsider renaming  db2 module(https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2), I think we can discuss it again in the next Office Hours.

[2022-03-18 12:50] seansund opened #33 "MultiCloud Infrastructure and Storage - Phase 1"
Publish content to:

- IBM Cloud - [https://github.com/IBM/automation-ibmcloud-infra-openshift](https://github.com/IBM/automation-ibmcloud-infra-openshift)
- AWS - [https://github.com/IBM/automation-aws-infra-openshift](https://github.com/IBM/automation-aws-infra-openshift)
- Azure - [https://github.com/IBM/automation-azure-infra-openshift](https://github.com/IBM/automation-azure-infra-openshift)

[2022-03-18 12:55] seansund opened #34 "Publish IBM Cloud Quick Start reference architecture"
Publish content to:

- IBM Cloud - [https://github.com/IBM/automation-ibmcloud-infra-openshift](https://github.com/IBM/automation-ibmcloud-infra-openshift)

## Dependencies

- [ ] IBM Resource Group
- [ ] IBM Access Group
- [ ] IBM VPC
- [ ] IBM VPC Subnets
- [ ] IBM VPC Gateways
- [ ] IBM OCP on VPC (ROKS)
- [ ] IBM Log Analysis (LogDNA)
- [ ] IBM Monitoring (Sysdig)
- [ ] IBM Object Storage
- [

[2022-03-18 18:54] seansund opened #35 "Publish IBM Cloud Standard reference architecture"
Publish content to:

- IBM Cloud - [https://github.com/IBM/automation-ibmcloud-infra-openshift](https://github.com/IBM/automation-ibmcloud-infra-openshift)

## Dependencies

- [x] IBM Resource Group
- [x] IBM Access Group
- [x] IBM VPC
- [x] IBM VPC Subnets
- [x] IBM VPC Gateways
- [x] IBM OCP on VPC (ROKS)
- [x] IBM Log Analysis (LogDNA)
- [x] IBM Monitoring (Sysdig)
- [x] IBM Object Storage
- [x

[2022-03-18 18:55] seansund opened #36 "Publish IBM Cloud Advanced reference architecture"
Publish content to:

- IBM Cloud - [https://github.com/IBM/automation-ibmcloud-infra-openshift](https://github.com/IBM/automation-ibmcloud-infra-openshift)

## Dependencies

- [ ] IBM Resource Group
- [ ] IBM Access Group
- [ ] IBM VPC
- [ ] IBM VPC Subnets
- [ ] IBM VPC Gateways
- [ ] IBM OCP on VPC (ROKS)
- [ ] IBM Log Analysis (LogDNA)
- [ ] IBM Monitoring (Sysdig)
- [ ] IBM Object Storage
- [

[2022-03-18 19:01] seansund opened #37 "Publish AWS Quick Start reference architecture"
Publish content to:

- [https://github.com/IBM/automation-aws-infra-openshift](https://github.com/IBM/automation-aws-infra-openshift)

## Dependencies

- [ ] AWS VPC
- [ ] AWS VPC Subnets
- [ ] AWS VPC Nat Gateways
- [ ] AWS VPC Internet Gateways
- [ ] AWS ROSA
- [ ] AWS Log Analysis (?)
- [ ] AWS Monitoring (?)
- [ ] S3 Storage
- [ ] Portworx storage on AWS
- [ ] ODF storage on AWS

## Definition

[2022-03-18 19:04] seansund opened #38 "Publish Azure Quick Start reference architecure"
Publish content to:

- [https://github.com/IBM/automation-azure-infra-openshift](https://github.com/IBM/automation-azure-infra-openshift)

## Dependencies

- [ ] Azure Vnet
- [ ] Azure Vnet Subnets
- [ ] Azure OpenShift IPI
- [ ] Azure Log Analysis (?)
- [ ] Azure Monitoring (?)
- [ ] Blob storage
- [ ] Portworx storage on Azure
- [ ] ODF storage on Azure

## Definition of Done

- [ ] Document ins

[2022-03-18 19:08] NoeSamaille opened #39 "Maureen would like a way to address failing module tests"
Add Raise Defect button to link to a Bug Template on modules repo (either in module or in this repo), so we can spot a failing CI and build a ticket for it to get fixed.

![modules-catalog-failing-ci-button](https://user-images.githubusercontent.com/19164094/159068665-9826159b-4f29-45d7-93d5-6f7a17063c20.png)

[2022-03-20 04:46] seansund opened #42 "Update the catalog UI"
- [ ] Move search to the top and support the enter key to trigger the search
 - [ ] Set default status from All statuses to Released
 - [ ] Add link back to Git Org in top menu

[2022-03-20 04:48] #42 closed, assigned to nobody

[2022-03-20 04:51] seansund opened #43 "Update the README for the software everywhere repo"

[2022-03-20 04:53] seansund opened #44 "Enhance the Catalog UI to include BOMs"

[2022-03-20 04:55] seansund opened #45 "Clean up module names in catalog"

[2022-03-21 11:45] #43 closed, assigned to seansund

[2022-03-21 12:03] seansund opened #46 "New module automation fails to create the branch protection rules"

[2022-03-21 12:04] seansund opened #47 "New module automation process does not add the software-everywhere team"

[2022-03-21 14:08] #45 closed, assigned to mjperrins

[2022-03-21 18:46] seansund opened #48 "CP4I cluster is not usable"
Multiple installs have not been cleaned up properly and the cluster is in an unusable state.

The cluster needs to be rebuilt

Long term we need to make sure the component can be installed together (and the modules should clean up properly)

[2022-03-21 18:47] seansund opened #49 "CP4I cluster is not usable"
Multiple installs have not been cleaned up properly and the cluster is in an unusable state.

The cluster needs to be rebuilt

Long term we need to make sure the component can be installed together (and the modules should clean up properly)

[2022-03-21 18:49] seansund opened #50 "The CP4I modules should have an explicit dependency on Common Services"
We also should extend CP4I dependency manager to manage versions across all Cloud Paks

[2022-03-21 19:18] seansund opened #53 "Document process for users outside of the Cloud-Native Toolkit org to test their PRs"

[2022-03-21 19:34] seansund opened #51 "Create a module to configure cluster-wide proxy in an OpenShift cluster"
Tim Robinson has created the logic here - https://github.com/timroster/terraform-ocp-proxyconfig . We need to move this repo under the cloud-native-toolkit org and add it to the catalog

[2022-03-21 19:34] seansund commented on #51
@triceam This is the OpenShift proxy config request

[2022-03-21 19:35] seansund opened #52 "Tammy would like her OpenShift cluster to access the internet securely through a proxy"
Create a module to configure cluster-wide proxy in an OpenShift cluster via gitops

[2022-03-21 20:59] triceam commented on #48
CP4I Cluster has been rebuilt.
Cloud UI: https://cloud.ibm.com/kubernetes/clusters/c8sd03ow03qhumt19l50/overview?region=us-east&resourceGroup=2895876252b04bcb8af608662e0ad20b

OpenShift UI:
https://console-openshift-console.toolkit-dev-cp4i-2ab66b053c14936810608de9a1deac9c-0000.us-east.containers.appdomain.cloud/

Includes GitOps configuration and Portworx storage.

[2022-03-23 17:16] triceam opened #54 "terraform-k8s-ocp-cluster has a blank readme"
No details how to use the module:
https://github.com/cloud-native-toolkit/terraform-k8s-ocp-cluster

[2022-03-23 17:38] seansund opened #55 "Update all modules to reference the clis submodule from the terraform registry"
The clis module has been published to the terraform module registry. Every module that uses the clis submodule should be updated to use the registry url for the source instead of the gitops repo

[code]

[2022-03-23 17:46] gowdhaman-j opened #58 "gitops-cp-ace-dashboard not showing up in the catalog"
In software-everywhere application https://modules.cloudnativetoolkit.dev/
"gitops-cp-ace-dashboard" module (https://github.com/cloud-native-toolkit/terraform-gitops-cp-ace-dashboard/actions) is not listed even after after successful test.

[2022-03-23 18:21] triceam opened #59 "rename ibm-ocs to ibm-odf"
Naming is not reflective of software deployed

[2022-03-23 19:00] triceam commented on #58
Added to module catalog

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/974294/159775735-51d0711c-a1da-4775-970c-23b2d7f0e1e3.png">

[2022-03-23 19:00] #58 closed, assigned to triceam

[2022-03-23 19:04] #59 closed, assigned to nobody

[2022-03-24 13:17] triceam opened #60 "Storage BOMS"
Storage BOMs.  One for each cloud provider (ibm, azure, aws), include readme for execution

[2022-03-24 13:20] triceam opened #61 "CP4D BOM as a prereq for Data Fabric"
BOM to support CP4D deployment.  Assume one of the infrastructure BOMS and storage have already been deployed.

- [ ] Add BOM to software/data fabric folder in automation-solutions repo
- [ ] Add Readme to data fabric/files on setup/parameters for deployment
- [ ] Sample terraform.tfvars file

[2022-03-25 22:22] tcskill commented on #8
@triceam found this for the db2 instance operator, this is what is needed https://www.ibm.com/docs/en/maximo-manage/8.3.0?topic=deployment-configuring-db2

[2022-03-28 15:05] seansund opened #62 "Tammy would like the automation to automatically detect any existing resources in the environment"
Currently the user needs to provided "provision=false" flags to tell the user the resource already exists. This is 1) a little bit of a hack and not the way terraform likes to work and 2) error prone and tedious for the user

It would be nice if we could provide a script that can be run before the terraform apply that interrogates the current environment and populates the terraform state. There ar

[2022-03-28 15:56] mjperrins opened #63 "Have a way for the solution builder user to see the attributes associated with a module"
Have a way for the solution builder user to see the attributes associated with a module

- [ ] add to the slide out side panel the attributes that are documented in the modules catalog for the module that is being used
- [ ] Add to the edit dialog the ability to see the same attributes or override the edit box with the attributes in YAML form
- [ ] Support ability to present hint text based on `#c

[2022-03-28 17:58] triceam opened #64 "Db2 Modules don't show up in catalog"

[2022-03-28 18:29] triceam commented on #64
module id/name updated here too: https://github.com/cloud-native-toolkit/terraform-gitops-db2u-operator/commit/4ccee32f3f6a758b32dca879e6a76009e228f433

[2022-03-28 22:13] seansund opened #66 "Update the LogDNA Bind and Sysdig Bind modules in the catalog"
The names for the "bind" modules have been updated to match the underlying services. The entries in the catalog should be updated to match

[2022-03-28 23:01] #66 closed, assigned to seansund

[2022-03-29 10:29] triceam opened #68 "Portworx storage reclamation policy"
Portworx storage classes have `retain` reclamation policy by default.  We should make this a parameter, so we can set `release`, so that old volumes don't sit around unused, taking up resources.

This applies to portworx on IBM, AWS, Azure

[2022-03-29 14:04] triceam opened #71 "Cleanup orphaned storage volumes"
There are 129 block storage volumes in the `toolkit-dev` resource group at https://cloud.ibm.com/vpc-ext/storage/storageVolumes
I suspect a good number of these are orphaned, and there will probably be more by the time we get to cleaning these up.

We should have a script to cleanup all orphaned/unused volumes.

[2022-03-29 18:30] triceam opened #72 "Tammy would like to be able to install DB2 in a cluster apart from Cloud Pak for Data install (i.e. standalone DB2)"
Preferred strategy is to deploy DB2 as a part of CP4D, but there are occasions we might want standalone DB2 deployed to OCP.

[2022-03-29 18:30] triceam commented on #72
This is lower priority to CP4D deployment.

[2022-03-29 19:36] triceam opened #73 "CP4D Dependency Graph - Clean up"
<img width="1275" alt="Screen Shot 2022-04-06 at 7 06 41 PM" src="https://user-images.githubusercontent.com/25986944/162094400-bede46a6-9086-44b8-8521-7b7e1cb49ea0.png">

*Core Issues:*

1. There are conflicts in the dependencies for cp4d which creates 2 version of Common Services and CP Catalog.
2. Ensure the db2 dependency are listed properly in the modules.yaml which creates cyclic loop

**Issu

[2022-03-29 20:32] triceam opened #74 "Azure reference architecture modules"
Modules are needed to implement out reference architectures on Azure:
https://github.com/cloud-native-toolkit/automation-solutions/tree/main/architectures/azure

Start with the components required for the "Quick Start" architecture, and after that is complete, we can move on the the "Standard" architecture.

We can accomplish this by breaking down the Azure/IPI Cluster automation here:
https://git

[2022-03-30 02:55] triceam opened #75 "Request new module: test-module"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
This is just a test

**What is the category of the module?**
infrastructure

[2022-03-30 03:08] #75 closed, assigned to seansund

[2022-03-30 03:09] triceam commented on #75
/name override-name

[2022-03-30 03:26] triceam commented on #6
Added a check in `action-repo-issue-extractor` so that it will abort if an issue already has the `repo_created` tag, and will not continue processing.
https://github.com/cloud-native-toolkit/action-repo-issue-extractor/pull/46

Updated workflow in `software-everywhere` so that issues are not closed when a repo is created.   Instead a comment is posted on the issue, and labels are applied.  `repo_c

[2022-03-30 03:31] #6 closed, assigned to triceam

[2022-03-30 03:32] triceam opened #77 "Request new module: test-new-process"
**Related user story**
[Provide the issue number for the user story related to this request](https://github.com/cloud-native-toolkit/software-everywhere/issues/6)

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
test functionality

**What is the category of the module?**
infrastructure

[2022-03-30 04:00] triceam commented on #6
Also updated with a check in `action-repo-issue-extractor` to see if the issue title starts with `Request new module:`.  If it doesn't start with that, it won't be processed. https://github.com/cloud-native-toolkit/action-repo-issue-extractor/pull/47

[2022-03-30 04:19] triceam commented on #6
<img width="752" alt="image" src="https://user-images.githubusercontent.com/974294/160750517-aa7ab695-1e96-4f46-a655-b7525d0e3049.png">

[2022-03-30 04:47] triceam commented on #6
Moved check to see if its a new module request back into this repo's workflow instead of `action-repo-issue-extractor` https://github.com/cloud-native-toolkit/software-everywhere/pull/80

Also moved check for `repo_creatd` label into this workflow:
https://github.com/cloud-native-toolkit/software-everywhere/pull/81

[2022-03-30 04:47] #77 closed, assigned to seansund

[2022-03-30 04:48] triceam opened #82 "not a new module request"
just a test

[2022-03-30 04:49] #82 closed, assigned to nobody

[2022-03-30 04:49] triceam opened #83 "Request new module: test2"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
terraform or gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc

**What is the purpose of the module?**
Please describe what this automation module will do

**What is the category of the module?**
cluster, iam, network, database, integrat

[2022-03-30 04:50] #83 closed, assigned to seansund

[2022-03-30 13:37] seansund commented on #34
Dup of IBM/automation-ibmcloud-infra-openshift#2

[2022-03-30 13:37] #34 closed, assigned to nobody

[2022-03-30 13:41] seansund commented on #36
Dup of IBM/automation-ibmcloud-infra-openshift#4

[2022-03-30 13:41] #36 closed, assigned to nobody

[2022-03-30 13:42] seansund commented on #35
Dup of IBM/automation-ibmcloud-infra-openshift#3

[2022-03-30 13:42] #35 closed, assigned to seansund

[2022-03-30 13:43] seansund commented on #37
Dup of IBM/automation-aws-infra-openshift#1

[2022-03-30 13:43] #37 closed, assigned to nobody

[2022-03-30 13:44] seansund commented on #38
Dup of IBM/automation-azure-infra-openshift#1

[2022-03-30 13:44] #38 closed, assigned to nobody

[2022-03-30 14:02] triceam opened #84 "foo"
this is a test

[2022-03-30 14:04] triceam opened #85 "Request new module: foo"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
test

**What is the category of the module?**
infrastructure

[2022-03-30 14:15] seansund opened #86 "Turbonomic automation"
Publish content to: https://github.com/IBM/automation-turbonomic

This offering is simple but powerful all in one setup of turbonomic in an OpenShift cluster, by enabling this to be embedded in all projects will help drive cost reduction for all cloud native solutions

## Definition of Done

- [ ] link to Public Git Repo - https://github.com/IBM/automation-turbonomic
- [ ] link to Public BOM - htt

[2022-03-30 14:21] #85 closed, assigned to seansund

[2022-03-30 14:22] #84 closed, assigned to nobody

[2022-03-30 14:23] triceam opened #87 "Update automation"
Instead of using the issue title to trigger process automation, look for the `new_module` label.

See: https://github.com/cloud-native-toolkit/software-everywhere/blob/main/.github/workflows/auto-repo-create.yaml#L15

[2022-03-30 14:37] seansund opened #88 "MultiCloud Infrastructure and Storage - Phase 2"
Publish content to:

- AWS - [https://github.com/IBM/automation-aws-infra-openshift](https://github.com/IBM/automation-aws-infra-openshift)
- Azure - [https://github.com/IBM/automation-azure-infra-openshift](https://github.com/IBM/automation-azure-infra-openshift)

## Dependencies

- [ ] Standard AWS (Terraform)
- [ ] Advanced AWS (Terraform)
- [ ] Standard Azure (Terraform)
- [ ] Advanced Azure (

[2022-03-30 15:04] seansund opened #89 "Data Fabric automation"
Publish content to: github.com/IBM/automation-data-fabric

### Definition of Done
- [ ] link to Public Git Repo
- [ ] link to Public BOM

###  Dependencies

- [x] [ocp-login]
- [x] [gitops-repo]
- [x] [argocd-bootstrap]
- [x] [gitops-namespace]
- [x] [terraform-gitops-pull-secret]
- [x] [gitops-cp-catalogs]
- [x] [gitops-cp-foundational-services] (https://github.com/cloud-native-toolkit/terraform-

[2022-03-30 15:10] triceam opened #90 "Request new module: showcase-demo"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
demo

**What is the category of the module?**
infrastructure

[2022-03-30 16:43] #90 closed, assigned to nobody

[2022-03-30 17:06] #87 closed, assigned to triceam

[2022-03-30 17:07] triceam opened #92 "Request new module: test"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
terraform or gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc

**What is the purpose of the module?**
Please describe what this automation module will do

**What is the category of the module?**
cluster, iam, network, database, integrat

[2022-03-30 17:07] #92 closed, assigned to seansund

[2022-03-30 17:33] triceam commented on #64
DB2 metadata has been fixed.  All DB2 modules publishing metadata correctly and now show up in the catalog as expected.

**Released:**

- DB2U Operator
- DB2 OLTP Service
- DB2 Database Instance

**Still in development:**

- DB2 Warehouse (hasn’t been touched in a while)
- DB2 Database Schema

![image](https://user-images.githubusercontent.com/974294/160896332-0f7bf968-fac0-4722-9b3c-5f5ee9649773.

[2022-03-30 17:33] #64 closed, assigned to triceam

[2022-03-30 19:43] triceam opened #93 "Maximo Applications"
Publish content to:  [github.com/IBM/automation-maximo-app-suite](github.com/IBM/automation-maximo-app-suite)

This Epic is designed to cover the development work to support the installation of the Maximo applications & industry solutions into a Maximo Application Suite Core Install. Each Story has a break down the the dependencies for each application. The approach will be to complete Manage firs

[2022-03-31 00:33] seansund opened #95 "TJ needs a module to install Portworx via gitops that can be applied across all hyperscalers"

[2022-03-31 12:33] SatishSNIBM opened #96 "Tammy would like to know what permissions are required before starting to provision the infrastructure"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
terraform

ibm, aws, azure, etc

**What is the purpose of the module?**
We have portworkx storage required as mandatory pre-requisite for CP4d setup.
We need to ensure that installation id has **administrative privilege** both on **cluster as well as portworx enterprise storage** applicat

[2022-03-31 19:46] seansund opened #97 "Does maximo workspace get created automatically when a maximo application is installalled?"

[2022-04-01 19:13] smatthyssen commented on #33
@seansund please add hyperlinks to the dependencies

[2022-04-01 19:15] smatthyssen commented on #1
@seansund pls add hyperlinks to the dependencies

[2022-04-01 19:16] smatthyssen commented on #86
@seansund pls add hyperlinks to the dependencies

[2022-04-01 20:14] csantanapr commented on #31
@seansund can you take a look at this?

[2022-04-04 01:12] rich-ehrhardt opened #100 "Request new module: terraform-azure-lb"
**Related user story**
712

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Deploy a load balancer into an Azure virtual network

**What is the category of the module?**
infrastructure

[2022-04-04 01:31] rich-ehrhardt opened #101 "Request new module: terraform-azure-vm"
**Related user story**
712

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Deploy a virtual machine

**What is the category of the module?**
infrastructure

[2022-04-04 19:34] smatthyssen opened #102 "Update Maximo Application Suite to use CA Issuer"
Requirement for MAS Core release is manual instructions

[2022-04-04 20:11] smatthyssen commented on #23
Reference cloud-native-toolkit/terraform-gitops-pull-secret#17

[2022-04-04 21:14] #48 closed, assigned to triceam

[2022-04-04 21:14] #49 closed, assigned to triceam

[2022-04-04 21:32] #60 closed, assigned to triceam

[2022-04-05 12:45] triceam opened #104 "Request new module: maximo-db2-configuration"
**Related user story**
https://github.com/cloud-native-toolkit/software-everywhere/issues/8

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
any

**What is the purpose of the module?**
Apply DB2 configuration required for Maximo Manage module

**What is the category of the module?**
database

[2022-04-05 12:45] triceam commented on #104
Details: https://www.ibm.com/docs/en/maximo-manage/8.3.0?topic=deployment-configuring-db2

[2022-04-05 13:23] tcskill commented on #104
db2 configuration script attached that needs to be run after creating an instance of db2
[db2_manage_upd.sh.zip](https://github.com/cloud-native-toolkit/software-everywhere/files/8418434/db2_manage_upd.sh.zip)

[2022-04-06 02:32] tcskill opened #105 "Request new module: MAS-manage gitops"
**Related user story**

GitOps module for Maximo - Manage #8

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc

**What is the purpose of the module?**
Install MAS manage operator

**What is the category of the module?**
Middleware - Maximo

[2022-04-06 02:34] tcskill commented on #105
@triceam @seansund can you approve new repo creation?

[2022-04-06 10:55] dimallya opened #106 "Cloud Pak for Watson AIOps"
Includes Cloud Pak for Watson AIOps components - AI Manager, Event Manager and Infrastructure Automation

Publish content to:

## Definition of Done

- [ ] link to Public Git Repo
- [ ] link to Public BOM

### Dependencies (name & hyperlink)

**OCP Platform Module**
- [x] [OCP Login](https://github.com/cloud-native-toolkit/terraform-ocp-login.git)
- [x]  [Cloud Pak Catalog Source](https://github.c

[2022-04-06 11:26] dimallya opened #107 "Request new module: cp-catalogs-waiops"
**Related user story**
Cloud Pak for Watson AIOps #106

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc

**What is the purpose of the module?**
Create Catalog Source required for CP4WAIOps

**What is the category of the module?**
software

[2022-04-06 15:55] #44 closed, assigned to phemankita

[2022-04-06 18:57] tcskill commented on #97
@seansund no. While you can have multiple workspaces, it's not uncommon that one workspace is created at the initial installation that is used for everything.

[2022-04-06 19:14] triceam opened #108 "BOMS in the module catalog are loading from this repo"
BOMS in the module catalog are loading from this repo.  They should be coming from https://github.com/cloud-native-toolkit/automation-solutions/

[2022-04-06 19:44] seansund opened #109 "Maureen would like a VS Code visual editor for the BOM"
If it is a VS Code plugin it should also work with the web-based VS code editor

[2022-04-06 19:47] smatthyssen opened #110 "Cloud Pak for Integration CP4I"
Publish content to: https://github.com/IBM/automation-integration-platform

## Definition of Done

- [ ] link to Public Git Repo
- [ ] link to Public [BOM](https://github.com/cloud-native-toolkit/automation-solutions/tree/main/boms/software/integration) (need README completed)

### Dependencies (name & hyperlink)

**OCP Platform Module**

- [x] OCP Login
- [x] Cloud Pak Catalog Source
- [x] Sealed

[2022-04-06 19:54] smatthyssen commented on #110
@vksuktha @triceam Here is the new Epic card for CP4I on the public zenhub board

[2022-04-06 20:16] seansund commented on #109
We can build a VS Code plugin with React - https://github.com/rebornix/vscode-webview-react

So we could create a shared set of GUI components that are used by ASCENT and the VS Code editor!!!

[2022-04-06 20:23] smatthyssen commented on #110
https://github.ibm.com/gsi-labs/industry-cloud-planning/issues/677

[2022-04-06 20:24] smatthyssen commented on #110
https://github.ibm.com/gsi-labs/industry-cloud-planning/issues/565

[2022-04-06 20:29] smatthyssen commented on #110
@vksuktha @triceam is Confluence a dependency for CP4I?
If not, let's delete that line from the dependency list.
If so, is [this](https://github.ibm.com/gsi-labs/industry-cloud-planning/issues/376) the module for it?
If this is not the right module, please add a new issue and update link in the dependency list.

[2022-04-06 20:59] seansund opened #111 "Maureen wants instructions for how to add an existing module that she doesn't own to the catalog"
We need to document how an existing, published 3rd party terraform module can be published to the catalog

[2022-04-06 21:10] triceam commented on #105
/name mas-manage

[2022-04-06 21:23] balasgit commented on #73
**Issues**

1. https://github.com/cloud-native-toolkit/terraform-gitops-db2u-operator/issues/14
2. https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2-oltp/issues/8
3. https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2/issues/6
4. https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2-schema/issues/3
5. https://github.com/cloud-native-toolkit/terraform-gitops-cp4d

[2022-04-06 21:24] balasgit opened #112 "Dependency Graph Clean up"

[2022-04-06 21:24] balasgit commented on #112
**Issues**

1. https://github.com/cloud-native-toolkit/terraform-gitops-db2u-operator/issues/14
2. https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2-oltp/issues/8
3. https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2/issues/6
4. https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2-schema/issues/3
5. https://github.com/cloud-native-toolkit/terraform-gitops-cp4d

[2022-04-06 21:47] tcskill commented on #97
answered

[2022-04-06 21:47] #97 closed, assigned to tcskill

[2022-04-06 22:05] tcskill commented on #8
can make progress on this to deploy the operator and non-db dependencies

[2022-04-07 12:43] triceam commented on #24
/name ocp-ipi

[2022-04-07 12:45] triceam commented on #100
/name lb

[2022-04-07 12:50] triceam commented on #101
/name vm

[2022-04-07 12:54] triceam commented on #104
We need to double check whether this can be applied using the db2-schema module that @RamyaRaghuveera is working on.  Ideally, db2-schema should be generic enough to apply a configuration/schema provided as input parameters, so we don't need solution-specific modules.

[2022-04-07 12:56] triceam commented on #107
@dimallya to be clear, this will only contain catalog sources needed for Watson AIOps?  Does this overlap with other catalog sources?  ex: https://github.com/cloud-native-toolkit/terraform-gitops-cp-catalogs

[2022-04-07 15:35] seansund opened #113 "Maureen would like to use tflint in the module validation process"

[2022-04-07 15:37] seansund opened #114 "Explore using terratest to validate the modules"
We currently use custom actions to validate the terraform. Investigate using `terratest` instead for this process

[2022-04-07 16:03] seansund opened #115 "Tammy wants to be able to reliably deploy the automation every time"
The modules should pin the versions of *every* dependency including:

- Terraform provider
- Submodules

We generally follow this for submodules but not everywhere. Also, we don't pin the terraform providers to a specific version anywhere (at best we say >= X). We need to pin all of these versions.

To manage the maintenance for all those versions we need to also add a workflow that runs periodica

[2022-04-07 17:00] seansund opened #116 "Maureen would like to validate a minor update to a module won't destroy existing resources"
This feature consists of two parts:

1. Clearly document the guidelines for what changes require/constitute a major/minor/patch release
2. To the extent that it is possible, the PR validation process should validate the applied release label to make sure it is compliant to the guidelines. At a minimum, assuming that part of the expectation for a minor release is that it won't destroy existing reso

[2022-04-08 13:27] dimallya commented on #107
As per KC documentation, though the operator catalog name is `ibm-operator-catalog`, image source (i.e. `icr.io/cpopen/ibm-operator-catalog:latest`) mentioned in the CP4WAIOps catalog source is different than that of one which is present in existing cp-catalog module's `ibm-operator-catalog` image source (i.e. `docker.io/ibmcom/ibm-operator-catalog`). Also, for event manager installation `noi-oper

[2022-04-08 13:27] #107 closed, assigned to seansund

[2022-04-08 18:06] balasgit commented on #112
Closed Issue https://github.com/cloud-native-toolkit/terraform-gitops-cp-foundational-services/issues/10#issue-1196448225 as well as verified the test passing with no errors

[2022-04-10 13:23] mjperrins opened #117 "Issue on Ascent: A new solution wizard for creating solution to Solutions view"
**Describe Feature**
Issue on Ascent: A new solution wizard for creating solution to Solutions view

**Screenshots**
Create a wizard flow for selecting Persona, Platforms, Architectures, Storage, Software and Solution Details , once the wizard selection has been created , create a solution using the Solution API

![Screen Shot 2022-04-10 at 8 23 39 AM](https://user-images.githubusercontent.com/165

[2022-04-11 18:18] smatthyssen commented on #110
@vksuktha @triceam please provide answer to prior question....

[2022-04-11 18:20] triceam commented on #110
I do not know dependencies for CP4I

[2022-04-12 01:24] mjperrins opened #118 "Issue on Ascent: Add support to load BOMs into ascent"
**Describe the bug**
Issue on Ascent: Add support to load BOMs into ascent

Create a script to support loading of BOMs file from `automation-solutions` to Ascent data model

[2022-04-12 09:32] dimallya opened #119 "Cloud Pak For Security"
Publish content to: (add URL)

## Definition of Done

- [ ] link to Public Git Repo  (add URL)
- [ ] link to Public BOM  (add URL)

### Dependencies (name & hyperlink to Zenhub issue)

**OCP Platform Module**
- [x] [OCP Login](https://github.com/cloud-native-toolkit/terraform-ocp-login.git)
- [x] [Cloud Pak Catalog Source](https://github.com/cloud-native-toolkit/terraform-gitops-cp-catalogs.git)
-

[2022-04-12 10:21] faheemshai opened #120 "Request new module: terraform-aws-transit-gateway"
**Related user story**
Provide the issue number for the user story related to this request
Module to provision transit gateway service on AWS #796

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
aws

**What is the purpose of the module?**
module will create transit gateway and route related  to service

**What is the category of the module?**

[2022-04-12 10:46] seansund opened #121 "Default read permission for the clusters does not include secrets or nodes"
Should be able to list secrets and should be able to access the nodes (oc debug node/x) using default permissions. This is not possible with the current permissions

[2022-04-12 12:21] mjperrins opened #122 "Issue on Ascent: Add README.md file upload at the BOM Level and include README view at BOM level"
**Feature**
Add README.md file upload at the BOM Level and include README view at BOM level

When Creating a BOM support the ability to have a BOM Level README.md file, this README will be linked from the Generated Solution README.md file.

**Expected behavior**
Enable UX and API driven ability to upload a README.md file

[2022-04-12 12:21] seansund opened #123 "Brenda (the business analyst) wants a way to automatically test, release, and promote business rule changes through different environments (dev, test, staging, prod, etc)"
Key features:

- [ ] versioned releases of rule sets
- [ ] validation of rules (unit tests and integration/regression tests) in each environment
- [ ] A/B testing of rules
- [ ] staged rollout of rule changes
- [ ] ability to roll back a rule to a previous version if there is an issue

[2022-04-12 12:30] seansund commented on #123
More detailed discussion in this card - https://github.ibm.com/gsi-labs/industry-cloud-planning/issues/601

[2022-04-12 13:03] faheemshai commented on #120
@seansund please approve this module

[2022-04-12 14:13] smatthyssen commented on #119
Thanks @dimallya who is working to complete the "Publish content" section?

[2022-04-12 17:59] balasgit commented on #73
Fixed all db2 dependency except db2 schema module which is currently broken
![Screen Shot 2022-04-12 at 12 59 31 PM](https://user-images.githubusercontent.com/25986944/163024972-a4f6d1d0-7ca1-4c50-afd2-271d4bb9a4a5.png)

[2022-04-12 19:38] rich-ehrhardt commented on #100
Module developed and published into github. Passing verification tests.

[2022-04-12 20:32] rich-ehrhardt opened #124 "Modify Azure Load Balancer module to include option to disable outbound SNAT"
Disabling outbound Source Network Address Translation for the frontend public load balancer is required to set an outbound rule for VM's within a public load balancer. Using a load balancer as a NAT gateway is the Azure preferred approach for a quickstart architecture.

[2022-04-12 20:37] seansund opened #125 "Tammy would like a module to provide configuration for an existing DB2 instance"

[2022-04-12 20:37] seansund opened #126 "Tammy would like a module to provide configuration for an existing DB2 Warehouse instance"

[2022-04-12 20:47] seansund opened #127 "Maureen would like a module that will configure a CI/CD pipeline to build and deploy an ACE BAR image from a git source repo"

[2022-04-12 20:51] rich-ehrhardt commented on #124
Branch (https://github.com/cloud-native-toolkit/terraform-azure-vpc/tree/snat-addition) added for adjustment.

[2022-04-12 21:38] seansund opened #128 "Tammy would like a module to provision the managed DB2 Warehouse instance on IBM Cloud"

[2022-04-13 00:11] rich-ehrhardt commented on #124
Found the setting is in the load balancer frontend rule definition.

[2022-04-13 00:33] rich-ehrhardt commented on #124
Added disable_outbound_snat=false to frontend rule when creating an outbound rule for a public load balancer. Published revised module and passes verify testing.

[2022-04-13 00:33] #124 closed, assigned to rich-ehrhardt

[2022-04-13 01:03] #126 closed, assigned to seansund

[2022-04-13 04:09] seansund opened #129 "Maureen would like the module validation to include a scan for credentials and secrets in the commits"
Using GitGuardian and the `ggshield` action, we should validate the branch is free of credentials before merging - https://docs.gitguardian.com/internal-repositories-monitoring/integrations/ci_cd_integrations/github_actions

[2022-04-13 04:24] #129 closed, assigned to nobody

[2022-04-13 05:52] RamyaRaghuveera commented on #125
This can be done by enhancing the existing db2schema module(https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2-schema) by taking the DB2 commands as input var in a file. Assumption: Configuration refers to DB2 commands to be run on db2 cli.

[2022-04-13 06:00] RamyaRaghuveera commented on #128
This can be mostly done by enhancing the existing db2 module(https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2) by passing a different value(db2wh) to the `db2instancetype ` variable.Test stages/prereqs for the module would need to be changed. This is based on the info shared by product team and is not currently tested: https://ibm-cloudplatform.slack.com/archives/C019EJ0QH4Y/p164968

[2022-04-13 06:08] sgumpana opened #130 "Request new module: cp-watson-assistant"
**Related user story**
[Module to provision Watson Assistant on CP4D#651](https://zenhub.ibm.com/workspaces/industry-cloud-squad-5e58388dbb582d1c596ab4ea/issues/gsi-labs/industry-cloud-planning/651)

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure

**What is the purpose of the module?**
Automate Watson Assistant installation as pe

[2022-04-13 09:37] dimallya commented on #119
@smatthyssen Please let me know the overall expectation of "Publish content" task. Is there any template which needs to be followed?

[2022-04-13 16:00] seansund opened #132 "All submodules should be pinned to a specific version"
To increase repeatability, all submodules used within modules should be pinned to a specific version.

To minimize the manual effort to keep those versions up to date, we also need an automated workflow - cloud-native-toolkit/software-everywhere#133

[2022-04-13 16:01] seansund opened #133 "Maureen would like an automated workflow to help manage versions of dependencies/submodules"
To increase repeatability, all submodules used within modules should be pinned to a specific version.

To minimize the manual effort to keep those versions up to date, we also need an automated workflow that will:

1. Notify modules when a new version of one of their submodules has been released
2. Create a PR with the updated version
3. Automerge the PR if the validation passes

[2022-04-13 16:19] balasgit opened #134 "Request access: Bala Sivasubramanian"
**Email address**
bala@us.ibm.com

**Cloud environment**
AWS, Azure

**Purpose**
DB2W install on Azure or AWS

**Duration of access**
1 month

[2022-04-13 18:07] balasgit opened #135 "Request access: {Bala Sivasubramanian}"
**Email address**
bala@us.ibm.com

**Cloud environment**
Azure

**Purpose**
DB2 Warehouse on Azure

**Duration of access**
Till we support max , oms

[2022-04-14 05:02] mjperrins opened #136 "Issue :"
**Describe the bug**
Ran `200-openshift-gitops` automation for Turbonomic on a TechZone Azure OpenShift instance

Error
[code]

ArgoCD was installed and Bootstrap-0 was configured

![Screen Shot 2022-04-14 at 12 08 30 AM](https://user-images.githubusercontent.com/16599999/163317694-1def9ebe-bb1a-4477-afc3-f91a98ce581b.png)

**To Reproduce**
1. clone `automation-solutions` git repo branch `turbo-re

[2022-04-14 11:21] dimallya opened #137 "Request new module: serverless-operator"
**Related user story**
#119

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**

**What is the purpose of the module?**
Module to populate gitops repo with the resources to provision openshift **serverless-operator**

**What is the category of the module?**
software

[2022-04-14 11:27] dimallya commented on #119
@smatthyssen Figured out that CP4S installation has a dependency on OpenShift serverless-operator and Knative-Serving instance. Hence requested for these modules. Once the modules are ready and included in CP4S BOM, we will start on "Publish content" task.

[2022-04-14 11:32] dimallya commented on #137
@seansund as CP4S installation needs OpenShift **serverless-operator** to be installed and **Knative-Serving** instance of that operator to be created, have requested for this module, post this will request for Knative-Serving instance module. Please approve the module request and add me as collaborator for the repo created.

[2022-04-14 12:02] NoeSamaille opened #138 "Issue on Ascent: BOM/Solutions updates"
**Describe the issue**

- [x] in the Software panel, add App Connect, API Connect, Event Streams, MQ and Integration Tools as optional elements and add at the first “Your Reference Architecture” during the demo I might selection this options but set all of them to pull in the 300-integration BOM this will enable the demo flow discussion not to get derailed.
- [ ] We need to move [Module UX](https:

[2022-04-14 14:23] smatthyssen opened #139 "Tammy the Tech Seller would like to be able to click on one link for each BOM"
create one hyperlink to each BOM in ASCENT
In the delivery kit and docs, it would be good to link to the BOM itself. If I click on "AWS" or "CP4I" it goes to the page showing 163 modules.  I am looking for a public link that shows the BOM for a module, or for a full epic/solution.

[2022-04-14 14:26] smatthyssen commented on #119
Excellent, thanks Divya!

Take Care,
[signature_2383211786]
Sancia Matthyssen
Manager, Technology Programs
IBM Ecosystem Labs
512.496.8879
***@***.******@***.***>

From: Divya Kamath ***@***.***>
Date: Thursday, April 14, 2022 at 6:27 AM
To: cloud-native-toolkit/software-everywhere ***@***.***>
Cc: Sancia Matthyssen ***@***.***>, Mention ***@***.***>
Subject: [EXTERNAL] Re: [cloud-native-toolkit/s

[2022-04-18 18:14] triceam commented on #95
Comment from old tracking issue: Existing IBM/AWS/Azure Portworx modules are based on the HCBT template. This doesn't exactly follow conventions put in place with our existing modules. This will require an overhaul, and it would be ideal if we could make it a gitops module.

[2022-04-18 19:59] annumberhocker opened #140 "Request new module: terraform-ibm-odf"
**Related user story**
Provide the issue number for the user story related to this request
N/A

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
Please describe what this automation module will do

Install ODF on an Open Shift cluster and create a StorageCluster Custom Resource with input options

**W

[2022-04-18 20:00] annumberhocker commented on #140
I have currently been working from a forked clone from the template https://github.com/annumberhocker/terraform-ibm-odf

[2022-04-18 21:42] smatthyssen commented on #110
@vksuktha please answer questions from 12 days ago and update status and dependency list. Thank you!

[2022-04-19 06:36] SatishSNIBM commented on #93
Attaching the db2wh creation in CP4d and schema changes required after database creation
[db2creation_Steps_cp4d_4.0.zip](https://github.com/cloud-native-toolkit/software-everywhere/files/8510460/db2creation_Steps_cp4d_4.0.zip)
[db2Steps_Manage_Create.zip](https://github.com/cloud-native-toolkit/software-everywhere/files/8510468/db2Steps_Manage_Create.zip)
[db2database_create_withincp4d_4.0.zip](h

[2022-04-19 10:17] triceam commented on #121
Need to give read permission for secrets, and access to nodes.  This can be done with a job, like was done with the techzone cluster.

Needs to be added to automated for all dev/test clusters going forward, but immediate need it for the cp4d cluster (can be applied manually to this cluster).

[2022-04-19 19:44] seansund opened #141 "Tammy wants a module to create groups and RBAC rules in the cluster to manage user access"

[2022-04-19 19:44] seansund opened #142 "Tammy wants a module to create groups and RBAC rules in the cluster to manage user access"

[2022-04-19 21:10] triceam opened #143 "SSH Keys getting overwritten"
If you've already successfully run though the FS ref arch automation, then re-run terraform apply without any changes, then SSH keys are getting overwritten as though they've changed (but they haven't).  This causes a destroy/reapply, which fails b/c the keys are in use, which leads you to a broken TF state that is unrecoverable.

You end up stuck with something like this:

[code]

[2022-04-20 04:49] saratrip opened #144 "Request access: {Sarang/Dinesh/Dileep} New ROKS Cluster with Portworx for cp4ba(Business Automation)"
**Email address**
@saratrip @dineshchandrapandey @DileepPaul ,brahm.singh@ibm.com , mverma17@in.ibm.com

**Cloud environment**
IBM Cloud account,

**Purpose**
Request to create new ROKS Cluster with Portworx for cp4ba(Business Automation). We are using OCP48 gitops cluster but are unable to do test on the cluster because the common service operator is giving issues/not installed. We are unable to

[2022-04-20 10:19] sgumpana commented on #23
For CPD the instructions are : https://www.ibm.com/docs/en/cloud-paks/cp-data/4.0?topic=tasks-configuring-your-cluster-pull-images

[2022-04-20 10:35] triceam opened #145 "Reconcile storage classes for portworx"
Portworx modules should create all storage classes for CP4D by default (across all platforms):
https://github.com/cloud-native-toolkit/terraform-ibm-portworx/blob/main/scripts/px-sc.sh

Some are created already, but not all of them.   This applies to aws/azure/ibm portworx deployments.

[2022-04-20 13:53] triceam opened #146 "Portworx bad volume name in IBM-portworx module"
When shortening volume names, they sometimes end with a `-` character, depending on the length of the prefix.  When this happens the module fails with an error like this:

[code]

We need to make sure that the generated name does *NOT* end with a dash (`-`).

[2022-04-20 13:58] triceam commented on #146
We also need to handle the case where it will fail b/c the volume name can't start with a number.  This happens if no name prefix is specified.

[2022-04-21 14:51] triceam opened #147 "terraform execution in colima networking/api errors"
While executing the `usability` branch of [ibmcloud-reference-architectures](https://github.ibm.com/gsi-labs/ibmcloud-reference-architectures) inside of [`colima`](https://github.com/abiosoft/colima) I am running into seemingly random networking/api failures.  The are inconsistent, and sometimes won't happen at all.  I have not identified a pattern with when they happen, nor do I know for certain

[2022-04-21 15:44] triceam commented on #142
What's the difference between this and #141?

[2022-04-21 18:25] triceam commented on #147
This is happening randomly for *any* url during execution, not just global catalog urls like shown above.

[2022-04-21 18:26] triceam opened #148 "New usability branch of fs ref arch is missing ACL rules to allow outbound traffic."
New usability branch of fs ref arch is missing ACL rules to allow outbound traffic.

[2022-04-21 18:56] triceam commented on #148
reopening until testing is done

[2022-04-21 20:06] tcskill commented on #104
this should be able to work for both db2 and db2wh - I believe this should work either way as it is running commands from db2 cli

[2022-04-22 19:08] balasgit commented on #23
Based on the discussion with @sgumpana & @spansare , this is major blocker for DB2 which needs to resolved..

[2022-04-25 12:57] triceam opened #149 "sealed secrets module is missing from module catalog UI"

[2022-04-25 12:59] #149 closed, assigned to nobody

[2022-04-26 03:00] #95 closed, assigned to seansund

[2022-04-26 18:14] balasgit opened #150 "DB2 Install - CP4D"
Publish content to :

## Definition of Done

Public Git Repo - https://github.com/IBM/automation-data-foundation
- [X] DB2U BOM - https://github.com/IBM/automation-data-foundation/tree/main/310-cloud-pak-for-data-db2uoperator
- [X] DB2OLTP BOM - https://github.com/IBM/automation-data-foundation/tree/main/320-cloud-pak-for-data-db2oltp
- [X] DB2WH BOM - https://github.com/IBM/automation-data-founda

[2022-04-26 19:13] seansund commented on #120
/name transit-gateway

[2022-04-26 19:13] seansund commented on #120
/group transit-gateway

[2022-04-26 19:13] seansund commented on #120
/displayName AWS Transit Gateway

[2022-04-26 19:58] seansund opened #151 "Module integration with terraform-ibm-modules org"
IBM Cloud-specific modules (those that use the IBM Cloud terraform provider) should be moved into the https://github.com/terraform-ibm-modules org so they can be jointly developed and maintained. The instructions for onboarding a module into the org are provided here - https://github.com/terraform-ibm-modules/getting-started

## Candidate modules

- [ ] ibm-resource-group
- [ ] ibm-vpc
- [ ] ibm-v

[2022-04-27 14:14] balasgit commented on #23
the following script will help us address the issue as we need to explore something similar for replace worker nodes

- Script: https://github.com/mumutyal/px-utils/blob/master/px_vpc_upgrade/vpc_upgrade_util.sh
- Usage : ./vpc_upgrade_util.sh CLUSTER_NAME replace worker WORKER_ID_1 WORKER_ID_2 WORKER_ID_3 WORKER_ID_4
- Details : After ibmcloud login —sso, point to the account and then execute the

[2022-04-27 15:15] sgumpana commented on #23
For global pull secret update on cluster level (openshift-config). We can avoid reattaching portworx storage  to worker nodes after reload/replace, with the below steps:

1. Create cluster
2. Configure global pull secret (CPD link: [Configuring the global image pull secret](https://www.ibm.com/docs/en/cloud-paks/cp-data/4.0?topic=tasks-configuring-your-cluster-pull-images#preinstall-cluster-setup_

[2022-04-27 17:18] tcskill commented on #23
what i've been using to create global pull secret

[code]

[2022-04-27 19:46] seansund opened #152 "Maintenance"

[2022-04-27 19:50] smatthyssen commented on #93
@triceam please fill in dependencies on this epic - or point to the right epic card and close this one.

[2022-04-27 20:04] balasgit commented on #23
As discussed in the iteration,

- We are going to manual replace worker nodes for ROKS.
- This issue will be discussed with IBM ROKS OM and find resolution

[2022-04-27 20:04] seansund opened #153 "Tammy would like to be able to deploy Portworx on AWS via gitops"

[2022-04-27 20:07] seansund opened #154 "Tammy would like to be able to install Portworx on Azure via gitops"

[2022-04-27 20:11] triceam opened #155 "Tammy would like to be able to use the updated usability features for the FS Cloud automation"
- [x] merge to main on `ibmcloud-reference-architectures`
- [x] publish to private repo on github.com

[2022-04-27 20:18] #148 closed, assigned to triceam

[2022-04-27 20:26] triceam commented on #102
Initial focus is validate/update what's in our docs.
Adding automation for this will come later (outside of this epic).

[2022-04-27 20:36] seansund opened #164 "Tammy would like to be able to deploy Cloud Pak for Integration and Cloud Pak for Data content on the same cluster"
We currently have a conflict in the Common Services version across the different modules, particularly across cloud paks

[2022-04-27 23:02] rich-ehrhardt opened #156 "Update Azure module names in catalog"

[2022-04-27 23:25] #156 closed, assigned to rich-ehrhardt

[2022-04-28 00:36] #118 closed, assigned to mjperrins

[2022-04-28 17:20] smatthyssen commented on #8
https://github.com/cloud-native-toolkit/software-everywhere/issues/104

[2022-04-28 17:21] balasgit opened #158 "CP4D - Foundation BOM"
Create the automation solution for the CP4D foundation that includes all the modules dependency required to install base CP4D components

**Business Value:**
  - If customer wants to install the DB2 or DB2 Warehouse which becomes easy to install CP4D Base components
  - If customer wants to install the Watson Knowlede Studio or any other catrides from the CP4D, it will become easy to install CP4D

[2022-04-28 17:21] balasgit opened #159 "CP4D - DB2 BOM"
Create the BOM in the automation Solution for the installing CP4D - DB2 that includes all the modules dependency

**Business Value:**

If customer wants to install the DB2 which becomes easy to install all the components related to DB2

[2022-04-28 17:21] balasgit opened #160 "CP4D - DB2 - Warehouse BOM"
Create the BOM for the CP4D - DB2 - Warehouse that includes all the modules required for creating DB2W

**Business Value:**

If customer wants to install the DB2 Warehouse which becomes easy to install components that are related to DB2 Warehouse.

[2022-04-28 17:32] balasgit opened #161 "DB2 OLTP Instance"
Check the db2 instance module which was done by the Ramya and see if anything needs to be aded for that module to complete

[2022-04-28 17:32] balasgit opened #162 "DB2 Schema"
Check the db2 schema module which was done by the Ramya and see if anything needs to be aded for that module to complete

[2022-04-29 06:13] rich-ehrhardt commented on #100
Release one published.

[2022-04-29 06:13] #100 closed, assigned to rich-ehrhardt

[2022-04-29 17:35] balasgit opened #163 "DB2 Warehouse Argo CD error - Operators are not installing properly"
DB2 Warehouse modules are getting deployed but the operators are not showing up in the CPD-operators as no errors from the LOGS

- As result, the validatedeploy.sh is failing to find the CSV and operators which fails

[2022-04-29 18:33] tcskill commented on #104
closing as was able to change sls and validate CA output no longer required

[2022-04-29 18:33] #104 closed, assigned to seansund

[2022-04-29 19:26] balasgit commented on #163
DB2WH catalog source installed but the service is giving errors. Posted in the CP4D slack if anyone come across similar issues and solution

https://ibm-cloudplatform.slack.com/archives/CADLKG1QU/p1651254332358979

[2022-04-30 16:36] mjperrins opened #165 "Running 200-bootstrap-gitops on AWS Cluster from TechZone getting the following issues"
Running 200-bootstrap-gitops on AWS Cluster from TechZone getting the following issues

- [ ] First issue, when you click on ArgoCD menu icon from 9 dot menu , you get challenged with CERT Invalid, work around is type `thisisunsafe` this lets you into ArgoCD Login screen you get the following error

[code]

- [ ] Second issue the ArgoCD install seems to finish correctly the Tekton Pipeline one is

[2022-04-30 18:16] seansund opened #166 "Automate end to end validation of BOMs and solutions"
To support the quality validation of the bill of materials support the end to end validation of BOMs. Initial focus is on the core foundation of the Software Everywhere framework:

- [ ] Automate end to end `200-openshift-gitops` on AWS, Azure and IBM Cloud
- [ ] Automate FS Cloud deployment end-to-end

[2022-05-01 06:42] SatishSNIBM commented on #1
Satish, Need to get MAS Core working on custom domain certificate.

[2022-05-02 05:57] rich-ehrhardt opened #167 "Request new module: azure-ssh-key"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Create if required and store ssh key in key vault

**What is the category of the module?**
network

[2022-05-02 06:48] spansare opened #168 "New Openshift cluster with Portworx is required to test Cloud Pak for Data modules."
Hi Andrew,

As discussed in our last call, as we have fixed all the issues with Cloud Pak for Data modules, can you please create one blank Openshift cluster with portworx to test those modules.

Thank you,
Snehal

[2022-05-02 12:43] smatthyssen commented on #1
@SatishSNIBM please open a new issue and tie it to this Epic.

[2022-05-02 14:51] seansund opened #169 "Two instances of ArgoCD are installed in the openshift-gitops namespace"

[2022-05-02 16:31] balasgit opened #170 "CP4D Cluster - Rebuild"
CP4D cluster is in bad state as the CP4D foundation services as well as base components are installed in multiple namespaces like ibm-common-services, cpd-operators, gitops-cp4d-operators.

 DB2WH service need to have base components as well as foundation service like Zenhub but its failing due to CP4D does not have min deployment availability.
<img width="951" alt="2022-05-02_15-51-42" src="https

[2022-05-02 17:40] triceam commented on #1
I removed the following from storage class requirements b/c the mongo ce operator should not be including variables required for a `mongoce` instance.  I am repurposing that issue to cleanup incorrect variable assignments.

[2022-05-02 17:54] tcskill opened #171 "create gitops module to deploy SBO (for mas-apps)"
Need to create module to install service binding operator 0.8 or 1.0 : https://operatorhub.io/operator/service-binding-operator/stable/service-binding-operator.v1.0.1
 suggestion is v1.0
required for MAS-Apps

[2022-05-02 18:27] triceam opened #172 "Update starter kit readmes for `oc sync`"
All of the starter kit readme need to be updated to instruct the user to run `oc sync -p` instead of `oc sync`.  Otherwise the user will *always* end up with a failed pipeline, without any indication how to fix it.  Right now, none of the repo's readmes include the `-p` flag.

Readmes that need to be updated:

- https://github.com/IBM/template-node-react/blob/master/README.md
- https://github.com/

[2022-05-02 19:50] annumberhocker commented on #140
@triceam @seansund  what is the status of this?

[2022-05-02 23:36] rich-ehrhardt commented on #167
/displayName Azure SSH Key

[2022-05-02 23:36] rich-ehrhardt commented on #167
/group vpc-ssh

[2022-05-03 00:09] rich-ehrhardt commented on #167
/name ssh-key

[2022-05-03 00:35] rich-ehrhardt opened #173 "Request new module: azure-storage-blob"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Create an Azure storage blob

**What is the category of the module?**
storage

[2022-05-03 00:35] rich-ehrhardt commented on #173
/name storage-blob

[2022-05-03 00:35] rich-ehrhardt commented on #173
/displayName Azure Storage Blob

[2022-05-03 03:47] #170 closed, assigned to triceam

[2022-05-03 03:48] #168 closed, assigned to triceam

[2022-05-03 10:51] triceam opened #174 "backup entire cloudnative toolkit org"
Need a process to backup the entire cloud-native-toolkit github org.  Need a script to periodically (daily?) clone the contents of `main`/`master` in every repo into GHE or another location.

[2022-05-03 10:55] rich-ehrhardt commented on #173
/group object-storage-bucket

[2022-05-03 10:57] rich-ehrhardt commented on #173
Add comment to kick off approval.

[2022-05-03 11:13] seansund opened #175 "Maureen would like to have workflow templates in the terraform module for AWS and Azure modules"
The workflows for IBM Cloud, AWS and Azure terraform modules vary quite a bit (particularly with the credentials). Currently the workflows are specific to IBM Cloud and a great deal of work is required for each repo to update the workflows for AWS or Azure.

Options:

- Create different workflow alternatives in the template repo that either get configured manually or through the new module request

[2022-05-03 13:25] tcskill opened #176 "Request new module: terraform-gitops-service-binding-operator"
**Related user story**
#8

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc.

**What is the purpose of the module?**
installs service binding operator on openshift

**What is the category of the module?**
util

[2022-05-03 13:27] tcskill commented on #176
Need to create module to install service binding operator 0.8 or 1.0 : https://operatorhub.io/operator/service-binding-operator/stable/service-binding-operator.v1.0.1
suggestion is v1.0
required for MAS-Apps

[2022-05-03 13:28] tcskill commented on #171
closing duplicate

[2022-05-03 13:28] #171 closed, assigned to nobody

[2022-05-03 14:59] triceam commented on #1
Removed SLS/storage class manager dependency b/c it is not actually needed per: https://github.com/cloud-native-toolkit/terraform-gitops-cp-sls/issues/11

[2022-05-03 17:44] balasgit opened #177 "CP4D - Namespace Strategy (Single Vs Multiple )"
**as per CP4D prod docs,**
  - Installing on the single namespace with all the CP4D Base / Foundation / Zen along with DB2 seems to be straight forward approach as Pros.
 - Exploring how to install on multiple namespaces (Pros / Cons)

[2022-05-03 19:50] rich-ehrhardt opened #178 "Unable to deploy new ARO clusters or create new service principal accounts"
Getting insufficient privileges error when attempting to deploy new Azure Red Hat OpenShift clusters or create new service principal accounts.

[2022-05-03 20:15] smatthyssen opened #179 "Create separate BOMS for each of the Cloud Pak for Integration components and their dependencies"

[2022-05-03 20:16] rich-ehrhardt commented on #173
Repo created and added to catalog.

[2022-05-03 20:17] rich-ehrhardt commented on #24
Repo created and added to catalog.

[2022-05-03 20:18] smatthyssen opened #180 "Complete packaging of Integration automation for release to github.com"
Includes automation, read me and BOMs.

[2022-05-03 20:19] triceam commented on #179
Where applicable, the BOMs should use the [storage class manager](https://github.com/cloud-native-toolkit/terraform-util-storage-class-manager) so we can assign storage class names once and have the generated terraform auto-wire with the storage class manager.  That way we aren't creating lots of storage class vars/values in multiple places.   This is what we are doing with MAS Core, and will be d

[2022-05-03 22:39] rich-ehrhardt commented on #178
Met with IBM Azure AAD support team. Setting was changed to disable creation of service principals about 2 weeks ago to manage the large number of service principals being created. Two actions now being taken,
1. AAD team to create a new application developer role with the ability to create service principals
2. Create one or more new subscriptions with our own access control.

[2022-05-04 01:09] rich-ehrhardt opened #181 "Fix catalog.yaml for Azure VPC to VNet name change"

[2022-05-04 02:00] #181 closed, assigned to rich-ehrhardt

[2022-05-04 08:58] lionelmace opened #183 "How do I enable the Compliance and see the FS Cloud controls"
I'm unable to turn on the compliance menu. What's the process to get access to it?

<img width="247" alt="image" src="https://user-images.githubusercontent.com/12241613/166650993-2eac5dc7-3684-4fa5-8db7-8af928202e2d.png">

I'm able to load the NIST control page fine https://ascent.cloudnativetoolkit.dev/nists
but the FS Cloud Control page will not load!
<img width="1225" alt="image" src="https://u

[2022-05-04 18:05] balasgit opened #184 "Setup DB2Warehouse schema / tables for Maximo managed"
Need to run this scripts on Managed DB2WH which is required for Maximo Managed

#!/usr/bin/bash
db2 connect to BLUDB
db2 update db cfg for BLUDB using dft_table_org row
db2 update db cfg for BLUDB using LOGARCHMETH1 off
db2 update db cfg for BLUDB using SELF_TUNING_MEM ON
db2 update db cfg for BLUDB using APPGROUP_MEM_SZ 16384 DEFERRED
db2 update db cfg for BLUDB using APPLHEAPSZ 2048 AUTOMATIC DE

[2022-05-04 18:48] triceam opened #185 "PR-review compliance action"
Create a github action and integrate it into the verify workflows so that it checks all PRs for process compliance.
- Each PR must have a label `major`|`minor`|`patch` indicating the change severity, as defined by https://semver.org/

  - MAJOR version when you make incompatible API changes,
  - MINOR version when you add functionality in a backwards compatible manner, and
  - PATCH version when y

[2022-05-04 19:33] triceam opened #186 "certified badge for software-everywhere modules"
in [`catalog.yaml`](https://github.com/cloud-native-toolkit/software-everywhere/blob/main/catalog.yaml) add metadata to designate `certified`|`community` status.  Surface this designation in the catalog.   (Think of it like the Twitter "confirmed" badge)

We need to lock down the main branch of this repo, and only allow modifications via approved PR.

Certified modules will have been approved by a

[2022-05-04 19:35] triceam opened #187 "Account purge script"
Need a script to purge all assets from an account.   Perhaps we setup this to run on a regular basis.

Here is a starter script from @seansund:
It will delete all resources created by a specified user,

[code]

[2022-05-04 19:38] triceam opened #188 "OpenVPN Command Line"
OpenVPN has a command line interface.  We we use the CLI to connect to the vpn automatically with a script, so there is no manual step for users to connect to the VPN to complete the installation?

OpenVPN CLI is here, but looks like it is Windows & Mac only:
https://openvpn.net/vpn-server-resources/command-line-functionality-for-openvpn-connect/

Linux instructions here:
https://openvpn.net/vpn-s

[2022-05-04 19:38] triceam commented on #188
This will be needed for ZOS setup

[2022-05-04 19:44] triceam opened #189 "GitLab support"
We will need to make sure our workflows work with GitLab (for GitOps, etc...).  This will be required for some ZOS workflows.

[2022-05-04 19:59] smatthyssen commented on #150
@balasgit @perrins Turns out this epic is already on the public board.

[2022-05-04 20:03] balasgit commented on #184
Completed the db schemas for maximo and informed Tom to verify

[2022-05-04 20:07] triceam opened #190 "Switch CP4D to express installation pattern"
To get CP4D & DB2 modules delivered, switch to the express installation pattern, as defined here (everything in one namespace):
https://www.ibm.com/docs/en/cloud-paks/cp-data/4.0?topic=installing

However, this is just a temporary solution.  Long term we need to be able to support the specialized installation method that is described in the same link (This is where we originally started).   It is

[2022-05-04 20:11] triceam opened #191 "CP4D support specialized installation"
We switched CP4D to use the express installation instead of specialized installation per: https://github.com/cloud-native-toolkit/software-everywhere/issues/190

This was a temporary solution, and we should implement support for the specialized installation (spanning multiple namespaces), as [OpenShift best practices recommend to isolate workloads in their own namespace](https://cloud.redhat.com/b

[2022-05-04 20:17] triceam commented on #191
Perhaps we can make this a installation option... the user can choose whether they want express or specialized installation.

[2022-05-04 20:41] triceam commented on #176
/name service-binding-operator

[2022-05-05 00:09] rich-ehrhardt commented on #173
**Inputs**
- resource_group_name  -> resource_group module dependency
- location / region  -> resource_group module dependency
- container_name
- storage_blob_name
- blob_source_file_name
- account_tier (default = standard)
- replication_type (default = LRS)
- container_access_type (default = private)
- blob_type (default = block)

**Outputs**
- storage_blob_id
- storage_blob_url

**Functions**
-

[2022-05-05 00:58] rich-ehrhardt opened #192 "Request new module: azure-nat-gateway"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Create a NAT Gateway in Azure

**What is the category of the module?**
network

[2022-05-05 01:06] rich-ehrhardt commented on #192
**Inputs**
- resource_group -> resource_group module dependency
- location/region
- nat_gw_name
- public_ip_name (default nat_gw_name+"-ip")
- public_ip_prefix_name (default nat_gw_name+"-ipPrefix")
- public_ip_allocation_method (default Static)
- public_ip_sku (default Standard)
- public_ip_zones (default 1)
- public_ip_prefix (default 30)
- nat_sku_name (default Standard)
- nat_idle_timeout (def

[2022-05-05 01:14] rich-ehrhardt commented on #192
/name nat-gateway

[2022-05-05 01:15] rich-ehrhardt commented on #192
/displayName Azure NAT Gateway

[2022-05-05 01:17] rich-ehrhardt commented on #192
/group vpc-gateways

[2022-05-05 03:17] triceam commented on #155
Latest has been pushed to https://github.ibm.com/gsi-labs/ibmcloud-reference-architectures

[2022-05-05 10:23] rich-ehrhardt commented on #167
Repo created and added to module catalog.

[2022-05-05 10:23] #167 closed, assigned to rich-ehrhardt

[2022-05-05 13:09] tcskill commented on #176
this is needed for maximo applications - I am creating a helm chart for this to implement the stable version of sbo 1.x which should be compatible with latest versions of MAS v8.7+

[2022-05-05 17:18] balasgit commented on #184
<img width="693" alt="Screen Shot 2022-05-05 at 12 18 04 PM" src="https://user-images.githubusercontent.com/25986944/166977678-62af66c1-8119-475c-9ff7-684271bb5ed1.png">

[2022-05-05 20:34] triceam commented on #61
Initial breakdown of data fabric bom into cp4d/data fabric layers: https://github.com/cloud-native-toolkit/automation-solutions/commit/9a14e78ec30d5b2a6cbb86876637995e3431a949

[2022-05-06 01:49] rich-ehrhardt commented on #178
Workaround from AAD team is now in place and working. If you need this workaround, please contact me.

[2022-05-06 10:13] lionelmace commented on #183
I completed the NDA form. I now have access.

[2022-05-06 10:13] #183 closed, assigned to NoeSamaille

[2022-05-06 11:25] vivprata opened #193 "Request new module: Create Gitops module to install DataStage on CP4D"
**Related user story**
Cloud Pak for Data - Data Fabric (duplicate #592 Closed) #733

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws

**What is the purpose of the module?**
This will auto install the DataStage service on top of Cloud Pak for Data

**What is the category of the module?**
Middleware

[2022-05-06 15:32] #169 closed, assigned to seansund

[2022-05-06 15:50] seansund opened #194 "Tammy would like the build statuses reported in the module catalog to be accurate and be healthy"

[2022-05-06 16:44] seansund opened #195 "Tammy would like a pre-install script to check the environment before running the automation"
Related to https://github.com/cloud-native-toolkit/software-everywhere/issues/96

[2022-05-06 17:45] seansund opened #196 "Tammy would like the build status in the Module Catalog to be accurate and clean"
Released modules that are "green" are being re-run and turning red. Requires research to determine cause and knowledge owner, modules not stable, documentation not in YAML.

[2022-05-06 20:26] seansund opened #197 "The gitops modules don't uninstall cleanly"
When the gitops modules are uninstalled, argo applications and application components remain. Ideally the cluster should be restored to the prior state after uninstall.

This can be achieved by adding the `resources-finalizer.argocd.argoproj.io` finalizer to the Application resources.

[2022-05-06 21:30] #197 closed, assigned to seansund

[2022-05-07 01:03] tcskill opened #198 "Request new module: terraform-gitops-mas-jdbc"
**Related user story**
105

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc

**What is the purpose of the module?**
create jdbc configuration in Maximo application suite. This is used in multiple places and should be separate module to include elsewhere for suite or applications

**What is the category of the module?*
middlew

[2022-05-07 02:50] tcskill commented on #198
@triceam fyi

[2022-05-08 03:34] triceam commented on #198
/name mas-jdbc

[2022-05-08 03:36] triceam commented on #198
/name terraform-gitops-mas-jdbc

[2022-05-08 03:37] triceam commented on #198
/displayName MAS JDBC Configuration

[2022-05-09 09:48] sgumpana opened #199 "Request to create a new Cluster for CP4D testing"
We need new Cluster for CP4D testing.
We tested gitops-cp4d-instance module using our Data Squad test cluster and works fine with our changes ( https://github.com/cloud-native-toolkit/terraform-gitops-cp4d-instance/issues/9 and https://github.com/cloud-native-toolkit/terraform-gitops-cp4d-instance/issues/11)

The old cluster (toolkit-dev-cp4d) is having issues with ArgoCD setup.
Throwing these err

[2022-05-09 12:25] triceam commented on #199
We need to figure out which module's tests keeps overwriting sealed-secrets.  I just rebuilt this cluster a few days ago

[2022-05-09 13:19] triceam opened #200 "fix symlinks in `setupWorkspace.sh` scripts used by published automation"
The `setupWorkspace.sh` script copies the latest workspace to `/workspaces/current` and moves the old `/workspaces/current` folder to a timestamped version any time you run it.   If you cd into one of the older ones, and attempt to execute terraform commands, it will fail b/c the symlinks were generated are linked to the absolute path of `/workspaces/current/terraform.tfvars` which will have chang

[2022-05-09 14:11] triceam opened #201 "Maximo test environments"
Need clusters for testing Maximo
- [x] ROKS
- [x] AWS
- [x] Azure
- [ ] Delete all other maximo clusters on all clouds.

These clusters cannot be used for anything else!
Clusters should be based on templates

[2022-05-09 14:13] triceam commented on #201
**big enough for maximo
- 16x64
- 3 or more workers
- portworx storage

[2022-05-09 14:22] triceam commented on #18
JDBC Module: https://github.com/cloud-native-toolkit/software-everywhere/issues/198

[2022-05-09 19:28] smatthyssen opened #202 "Carlos would to see a report each week of new issues created by members outside of the core team"
Any issue that have been added to New Issues and have not been reviewed or labeled by anyone yet. Create a slack integration for a weekly notification.
Review github marketplace for existing solutions.

[2022-05-09 19:32] smatthyssen opened #203 "Carlos would like to see a weekly progress chart on updates in the board"
Include all changes to new issues, backlog and closed, then post to slack on a weekly basis on Mondays.

[2022-05-10 02:19] triceam commented on #199
I was able to execute actions *without* encountering the sealed-secrets error that was reported.  I still rebuilt the cluster anyway b/c I was seeing other odd behavior on it.

[2022-05-10 02:19] #199 closed, assigned to triceam

[2022-05-10 11:09] triceam commented on #193
/name cp-datastage

[2022-05-10 11:10] triceam commented on #193
/displayName CP4D DataStage

[2022-05-10 19:47] triceam opened #204 "cp4d-instance module not showing up in module catalog"

[2022-05-10 19:56] #204 closed, assigned to nobody

[2022-05-10 19:59] triceam commented on #201
ROKS Environment:
- [`maximo-ocp48`](https://cloud.ibm.com/kubernetes/clusters/c9t8pljw017f2bjc7tqg/overview?region=us-east&resourceGroup=2895876252b04bcb8af608662e0ad20b)
- https://console-openshift-console.maximo-ocp48-2ab66b053c14936810608de9a1deac9c-0000.us-east.containers.appdomain.cloud/
- 4 Nodes (16x64)
- Portworx deployed
- IBM ID Authentication

[2022-05-10 20:14] triceam opened #205 "script to cleanup unbound volumes"
I noticed the cost of block storage is increasing in the cloud native squad account.  we have a bunch of unbound volumes.  we should delete all volumes that are not bound (not in use).

[2022-05-10 21:28] triceam opened #206 "cp4d instance not publishing metadata correctly"
Publishing metadata for cp4d instance is failing.  In the meantime I manually updated index.yaml in the github pages branch.

Here's what I see for the publish-metadata action for the cp4d module:
https://github.com/cloud-native-toolkit/terraform-gitops-cp4d-instance/runs/6377983485?check_suite_focus=true

Note the json output looks like it is parsing the variables correctly.

[2022-05-10 21:37] #165 closed, assigned to seansund

[2022-05-10 21:43] seansund opened #207 "Automate the end to end testing of the FS infrastructure BOMS"

[2022-05-10 21:49] smatthyssen commented on #196
Some modules are being re-run but failing, possible dependency or framework issues. Information is not available, takes time to research.

[2022-05-11 07:04] rich-ehrhardt commented on #173
Version 1 released. Issue closed.

[2022-05-11 07:04] #173 closed, assigned to saurabhrajguru, rich-ehrhardt

[2022-05-11 07:08] rich-ehrhardt commented on #192
Version 1 released. Issue closed.

[2022-05-11 07:08] #192 closed, assigned to rich-ehrhardt, sudhiribm

[2022-05-11 07:15] sudhiribm opened #208 "Request new module: azure-vm-bastion"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Create an Azure bastion VM

**What is the category of the module?**
infrastructure

[2022-05-11 09:59] sudhiribm opened #209 "VPN Gateway"

[2022-05-11 10:02] sunmeher opened #210 "Request new module: azure-vpn-gateway"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Create an Azure VPN gateway for point-to-point, remote employee and vnet-to-vnet connections.

**What is the category of the module?**
network

[2022-05-11 13:47] #155 closed, assigned to triceam

[2022-05-11 20:08] seansund opened #212 "Add ocp-proxyconfig module to the catalog"
https://github.com/timroster/terraform-ocp-proxyconfig

[2022-05-11 20:09] seansund opened #213 "Add vsi-proxy module to the catalog"
https://github.com/timroster/terraform-vsi-proxy

[2022-05-11 20:14] triceam commented on #140
/name ibm-odf

[2022-05-12 00:00] rich-ehrhardt commented on #208
/name vm-bastion

[2022-05-12 00:01] rich-ehrhardt commented on #208
/displayName Azure VM Bastion

[2022-05-12 00:01] rich-ehrhardt commented on #208
/group bastion

[2022-05-12 00:19] rich-ehrhardt commented on #210
/name vpn-gateway

[2022-05-12 00:19] rich-ehrhardt commented on #210
/displayName Azure VPN Gateway

[2022-05-12 00:20] rich-ehrhardt commented on #210
/group vpn

[2022-05-12 02:18] triceam commented on #206
Metadata on the CP4D module has been corrected, but it is still causing schema validation to crash Node.js.  As a workaround, schema validation is disabled for the CP4D module.

[2022-05-12 02:18] #206 closed, assigned to triceam

[2022-05-12 02:25] triceam commented on #28
Fixed
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/974294/167979646-d5e10d77-f994-4d97-888f-74eb5182fb39.png">

[2022-05-12 02:25] #28 closed, assigned to triceam

[2022-05-12 02:30] triceam opened #214 "Request new module: {name}"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
terraform or gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure, etc

**What is the purpose of the module?**
Please describe what this automation module will do

**What is the category of the module?**
cluster, iam, network, database, integrat

[2022-05-12 02:32] triceam commented on #177
Closing, this is covered by:
- [CP4D Express Installation](https://github.com/cloud-native-toolkit/software-everywhere/issues/190)
- [CP4D Specialized Installation](https://github.com/cloud-native-toolkit/software-everywhere/issues/177)

[2022-05-12 02:32] #177 closed, assigned to balasgit

[2022-05-12 05:02] sudhiribm opened #215 "Request new module: azure-vnet-peering"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Create an Azure Virtual Network Peering

**What is the category of the module?**
network

[2022-05-12 05:13] sudhiribm opened #216 "Request new module: azure-waf"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Create an Azure Application Gateway Web Application Firewall

**What is the category of the module?**
network

[2022-05-12 18:28] triceam commented on #201
ARO Cluster:

- [`maximo-aro`](https://portal.azure.com/#@ibm.onmicrosoft.com/resource/subscriptions/bc1627c6-ec80-4da3-8d18-03e91330e2f1/resourceGroups/maximo-testing/providers/Microsoft.RedHatOpenShift/OpenShiftClusters/maximo-aro/dxresourceid)
- https://console-openshift-console.apps.kbbupt1f.eastus.aroapp.io/
- `worker_count: 3`
- Portworx deployed
- integrated with GHE auth

[2022-05-13 00:14] rich-ehrhardt commented on #216
/name waf

[2022-05-13 00:14] rich-ehrhardt commented on #216
/displayName Azure Web Application Firewall

[2022-05-13 00:16] rich-ehrhardt commented on #216
/group firewall

[2022-05-13 04:34] rich-ehrhardt commented on #215
/name vnet-peering

[2022-05-13 04:34] rich-ehrhardt commented on #215
/displayName Azure VNet Peering

[2022-05-13 04:36] rich-ehrhardt commented on #215
/group transit-gateway

[2022-05-13 06:45] NoeSamaille opened #217 "Request new module: azure-acme-certificate"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What is the purpose of the module?**
Accept or create a valid TLS certificate to be used by other dependent modules (e.g. OpenShift IPI).

**What is the category of the module?**
network

[2022-05-13 06:51] rich-ehrhardt commented on #217
/group certificate

[2022-05-13 06:54] rich-ehrhardt commented on #217
/name acme-certificate

[2022-05-13 06:54] rich-ehrhardt commented on #217
/displayName Azure ACME Certificate

[2022-05-13 18:07] triceam commented on #201
ROSA Cluster:
- [`maximo-rosa`](https://console.redhat.com/openshift/details/s/297BIe9QTZbyTBfh2wsDllC40ir)
- [AWS EC2 Resources](https://us-east-1.console.aws.amazon.com/ec2/v2/home?region=us-east-1#Instances:v=3;instanceState=running;search=:maximo)
- https://console-openshift-console.apps.maximo-rosa.r47m.p1.openshiftapps.com/
- GHE authentication
- Portworx deployed

[2022-05-13 18:13] triceam commented on #201
- The ROKS cluster was created manually, and used the [IBM portworx bom](https://github.com/cloud-native-toolkit/automation-solutions/blob/main/boms/infrastructure/ibmcloud/_common/storage/210-ibm-portworx-storage.yaml) for the portworx deployment.
- The ARO cluster was created from our [Ansible quickstart](https://github.com/cloud-native-toolkit/ansible-azure-infra-openshift), and the [Azure port

[2022-05-16 11:40] amkanjil commented on #201
Facing login issues with ROSA and ARO clusters, kindly help with the credentials to be used
<img width="1440" alt="Screenshot 2022-05-16 at 5 08 24 PM" src="https://user-images.githubusercontent.com/85481349/168584737-cc3b900d-29b0-4b9a-9119-c97200a4c3e3.png">
<img width="1440" alt="Screenshot 2022-05-16 at 5 07 42 PM" src="https://user-images.githubusercontent.com/85481349/168584740-f2f21dd4-e94b

[2022-05-16 12:24] triceam commented on #201
As I mentioned on slack and in the thread above, use Github Enterprise (GHE) authentication...

<img width="1131" alt="image" src="https://user-images.githubusercontent.com/974294/168591850-e3bf8ad9-aa49-4ae3-9978-b781f88a70a5.png">

[2022-05-16 12:42] amkanjil commented on #201
Hi Andrew,
That is exactly what I tried and got the error for the ARO cluster. Is there some specific access I'm required to have?
For the ROSA cluster however, that option doesn't even show up.

[2022-05-16 12:49] triceam commented on #201
It authenticates using the GHE `gs-labs/software-everywhere` team.

Did you attempt resetting the credentials using the `rosa` cli on the rosa cluster?  The configuration has been completely wiped and is no longer on the cluster, so I have to reconfigure it.

[2022-05-16 12:50] triceam commented on #201
I just added you to the `gsi-labs/software-everywhere` team, so you should have access now.

[2022-05-16 12:51] amkanjil commented on #201
My GHE ID is amkanjil.
I haven't touched the ROSA cluster, wasn't able to login the first time I tried.

[2022-05-16 13:03] triceam commented on #201
Oauth has been restored on the ROSA cluster

[2022-05-16 13:50] amkanjil commented on #201
I'm able to login to the ARO cluster now. Thanks for the access.
The ROSA cluster still shows up as follows:
<img width="1440" alt="Screenshot 2022-05-16 at 7 16 57 PM" src="https://user-images.githubusercontent.com/85481349/168607407-4f3524bd-b6c9-4d13-81bc-d714b89dd57b.png">

[2022-05-16 13:51] triceam commented on #201
Weird... its gone again.   Let me look into it.

[2022-05-16 14:07] triceam commented on #201
Attempting to configure Oauth using the `rosa` cli, but it is not showing up...

<img width="912" alt="image" src="https://user-images.githubusercontent.com/974294/168611271-c21ee475-f3b5-41c6-af0a-fc95456a5a4e.png">

Still showing no ghe login option:

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/974294/168611426-0b8180bf-a0fd-482e-8260-179e4bdb7de9.png">

[2022-05-16 14:40] triceam commented on #201
It's back.  Let's see if it stays...
<img width="585" alt="image" src="https://user-images.githubusercontent.com/974294/168618716-9c8ef8e2-7c27-4610-a84f-a1a65e43fc48.png">

[2022-05-16 15:05] amkanjil commented on #201
Looks like it's working now. Thanks Andrew.

[2022-05-16 19:23] triceam opened #218 "Migrate Modules to IBM Cloud modules repo"
- [ ] Identify which modules could. be moved
- [ ] Figure out automation strategy
- [ ] Admin access (Secrets, Workflows, GitHub Actions)
- [ ] Migrate the modules

[2022-05-17 05:39] sgumpana opened #219 "Request new module: module-global-pullsecret"
**Related user story**
[Global Pull Secret module](https://github.com/cloud-native-toolkit/software-everywhere/issues/23)

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
This module does the following, as per the steps mentioned in https://www.ibm.com/docs/en/cloud-paks/cp-data/4.0?topic=tasks-confi

[2022-05-17 05:41] sgumpana commented on #23
I have raised a new module request for this automation (https://github.com/cloud-native-toolkit/software-everywhere/issues/219)
I am working on this.

[2022-05-17 10:00] triceam commented on #219
This needs to be a `gitops` module b/c it will be applying changes to the cluster, not a plain `terraform` module.

[2022-05-17 10:03] triceam commented on #23
@sgumpana I am reviewing your request now.  To be clear, all modules that are applying changes to a cluster need to be `gitops` type modules, not `terraform` type modules.   We won't always have access to apply changes directly, and the pattern that we have established is that all modules making changes to the cluster should be `gitops` modules.   We're even switching all the Portworx modules to `

[2022-05-17 10:19] triceam commented on #219
/displayName Global Pull Secret

[2022-05-17 10:44] triceam commented on #219
We may be able to apply the global pull secret without reloading worker nodes:
![image](https://user-images.githubusercontent.com/974294/168793548-7d0b62b3-4967-4eac-b13f-1fe452521238.png)

Create a DaemonSet that modifies the file system of the node directly to update the pull secret.  Example DaemonSet here: https://github.com/cloud-native-toolkit/toolkit-charts/tree/main/stable/ocp-userspaces-d

[2022-05-17 10:44] triceam commented on #23
We may be able to apply the global pull secret without reloading worker nodes:
![image](https://user-images.githubusercontent.com/974294/168793548-7d0b62b3-4967-4eac-b13f-1fe452521238.png)

Create a DaemonSet that modifies the file system of the node directly to update the pull secret.  Example DaemonSet here: https://github.com/cloud-native-toolkit/toolkit-charts/tree/main/stable/ocp-userspaces-d

[2022-05-17 10:48] triceam commented on #23
Per discussion in office hours now: automatic reloading of nodes does not happen on OCP4.8 and later (our minimum version)

[2022-05-17 10:49] triceam commented on #23
Created as a `gitops` module repo here:  https://github.com/cloud-native-toolkit/terraform-gitops-module-global-pullsecret

[2022-05-17 14:17] NoeSamaille opened #220 "Request new module: ocp-ipi-certs"
**Related user story**
#74

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
all

**What is the purpose of the module?**
Module that replaces the OpenShift cluster Ingress and API server certificates with provided certificates.

**What is the category of the module?**
utilities

[2022-05-17 14:17] NoeSamaille commented on #220
/group certificate

[2022-05-17 14:19] NoeSamaille commented on #220
/name ocp-ipi-certs

[2022-05-17 14:19] NoeSamaille commented on #220
/displayName OpenShift Ingress/API Certificates

[2022-05-17 17:15] triceam opened #221 "Cloud Pak For Data Foundation"

[2022-05-17 17:39] triceam opened #222 "readme/documentation for cp4d deployment"
readme/documentation for cp4d deployment in automation-solutions repo

[2022-05-17 17:42] triceam opened #223 "publish cp4d foundation automation"

[2022-05-17 18:27] #112 closed, assigned to triceam, balasgit

[2022-05-17 18:30] #207 closed, assigned to seansund

[2022-05-17 18:49] seansund opened #225 "Maureen would like to see more details about the automated tests published to the Discord server"
- Include the platforms on which the test ran
- Include how often the test will run

[2022-05-17 19:14] seansund commented on #184
@balasgit Can we get this put together as a script that is checked into the MAS Manage module for now? I don't want the logic to live in the card

[2022-05-17 20:01] seansund opened #226 "CP4I and CP4D Interoperability"
Updates to allow Cloud Pak for Data and Cloud Pak for Integration to be deployed together into the same cluster.

1. Common Services must be installed as its own module and should be installed cluster-wide
2. The CP4I and CP4D modules must include the Common Services module as a required external dependency

## Impacted module

- Data Foundation (@amtrice is this the correct module)
- Platform Nav

[2022-05-17 20:02] seansund commented on #162
Duplicate of cloud-native-toolkit/terraform-gitops-cp-db2-schema#2

[2022-05-17 20:02] #162 closed, assigned to sgumpana, spansare

[2022-05-17 21:13] seansund commented on #194
duplicate

[2022-05-17 21:13] #194 closed, assigned to nobody

[2022-05-18 00:15] balasgit commented on #163
Fixed the issues

[2022-05-18 00:15] #163 closed, assigned to balasgit

[2022-05-19 11:39] seansund opened #228 "Request new module: mas-civil-infrastructure"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
N/A

**What is the purpose of the module?**
Please describe what this automation module will do

**What is the category of the module?**
cluster, iam, network, database, integration, dev-tool, sre, infrastruc

[2022-05-19 11:40] seansund commented on #228
/displayName Maximo Civil Infrastructure

[2022-05-19 11:53] seansund commented on #228
/softwareProvider ibm

[2022-05-19 11:57] seansund commented on #18
/softwareProvider ibm

[2022-05-19 11:58] seansund commented on #18
/displayName Maximo Civil Infrastructure

[2022-05-19 11:58] seansund commented on #228
duplicate of #18

[2022-05-19 11:58] #228 closed, assigned to seansund

[2022-05-19 12:01] seansund commented on #18
/name mas-civil-infrastructure

[2022-05-19 12:44] NoeSamaille opened #229 "Issue on Ascent: Bug on Wizard SW Catalog"
**Describe the bug**

Software tiles in wizard dialog not showing selected icons.

**Screenshots**

<img width="1792" alt="Screen Shot 2022-05-19 at 14 44 04" src="https://user-images.githubusercontent.com/19164094/169296076-8702ea21-0bba-45be-a014-505b93524084.png">

[2022-05-19 13:24] seansund commented on #18
test

[2022-05-19 15:24] seansund commented on #18
touch

[2022-05-19 16:33] seansund opened #230 "Request new module: db2-warehouse"
**Related user story**
Provide the issue number for the user story related to this request

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
Provision a managed DB2 Warehouse instance on IBM Cloud

**What is the category of the module?**
database

[2022-05-19 16:35] seansund commented on #230
/displayName IBM DB2 Warehouse

[2022-05-19 16:36] seansund commented on #230
/group db2-warehouse

[2022-05-20 16:51] triceam commented on #219
To manually test the pull secret on a cluster node:

1. `oc get nodes` to get a list of nodes
2. `oc debug node/{ip}` (get the ip from `oc get nodes`)
3. in the debug terminal `chroot /host`
4. look at existing docker config `cat .docker/config.json`
5 add the docker config:
[code]
6. Test that you can pull a CPD image that requires the auth key:
[code]

[2022-05-20 16:55] triceam commented on #219
Manually pulling on the node will show a message like this:
<img width="928" alt="image" src="https://user-images.githubusercontent.com/974294/169576459-e83d7fd1-460e-45c9-a36f-b6b3a817d7e2.png">

If you're not authenticated with the pull secret on the node, you'll see something like this:
<img width="950" alt="image" src="https://user-images.githubusercontent.com/974294/169576636-65d038b4-df07-47

[2022-05-20 19:25] triceam opened #232 "Request new module: global-pullsecret-synch"
**Related user story**
[Global Pull Secret module](https://github.com/cloud-native-toolkit/software-everywhere/issues/23)

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
n/a

**What is the purpose of the module?**
Synchronize the global pull secret to all nodes, without requiring node reload/reboot

**What is the category of the module?**
util

[2022-05-20 19:34] triceam commented on #23
There will be 2 modules:
- https://github.com/cloud-native-toolkit/terraform-gitops-module-global-pullsecret will append to the global pull secret
- https://github.com/cloud-native-toolkit/terraform-gitops-global-pullsecret-synch will synchronize pull secrets across nodes, without requiring a restart

[2022-05-21 02:27] #230 closed, assigned to seansund

[2022-05-22 14:30] mjperrins commented on #201
Where are the IPI Clusters ?

[2022-05-22 16:34] triceam commented on #201
@mjperrins There is an IPI cluster here provisioned by @noe:
https://console-openshift-console.apps.ocp-48-maximo.clusters.azure.ibm-software-everywhere.dev/
However that was not created as part of this request.

We have not released automation for IPI clusters for AWS or Azure yet, so I used ROSA for AWS and @rich-ehrhardt's  ansible quick start for Azure.

[2022-05-23 04:43] BrahmSingh opened #234 "Request new module: cp-filenet"
**Related user story**
 #817
https://zenhub.ibm.com/workspaces/industry-cloud-squad-5e58388dbb582d1c596ab4ea/issues/gsi-labs/industry-cloud-planning/817

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm

**What is the purpose of the module?**
This will install FileNet components using CP4BA operator
(https://github.com/cloud-native-toolkit/ter

[2022-05-23 13:05] triceam opened #235 "Portworx storage classes are inconsistent across AWS/Azure/IBM"
In fresh deployments across AWS/Azure/ROKS the default storage classes for Portworx are different.  We should make sure they're consistent across all of our deployments.

Or, at the very least, we should create our own storage classes that can be the default for our deployments.  Ex: Maximo

You can see SCs across the clouds using the clusters listed in this issue:
https://github.com/cloud-native-

[2022-05-23 19:03] triceam commented on #144
Cluster provisioned in the Cloud Native Squad account:
https://cloud.ibm.com/kubernetes/clusters/ca5sc78w0suepvumiqn0/overview?platformType=openshift&region=us-east&resourceGroup=2895876252b04bcb8af608662e0ad20b

Portworx deployed & ArgoCD installed.

OpenShift UI available at: https://console-openshift-console.toolkit-dev-cp4ba-2ab66b053c14936810608de9a1deac9c-0000.us-east.containers.appdomain.cl

[2022-05-23 19:03] #144 closed, assigned to nobody

[2022-05-23 19:37] #184 closed, assigned to balasgit

[2022-05-23 19:42] balasgit commented on #73
All of this issues got resolved except the db2 instance and schema module is pending.

as part of CP4D 4.5 release (June), they will release the instance operator which can help to automate

[2022-05-24 02:15] triceam commented on #234
/displayName FileNet

[2022-05-24 07:51] #229 closed, assigned to NoeSamaille

[2022-05-24 07:53] #138 closed, assigned to NoeSamaille

[2022-05-24 07:53] #117 closed, assigned to NoeSamaille

[2022-05-24 08:30] spansare opened #236 "Request new module: terraform-gitops-cp-watson-discovery"
**Related user story**
[Provide the issue number for the user story related to this request](https://zenhub.ibm.com/workspaces/industry-cloud-squad-5e58388dbb582d1c596ab4ea/issues/gsi-labs/industry-cloud-planning/652)

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure

**What is the purpose of the module?**
Automate installation of

[2022-05-24 17:56] tcskill opened #237 "need script to update ibm-common-services certificate manager to use fully signed certs like lets encrypt"
need script to update ibm-common-services certificate manager to use fully signed certs like lets encrypt

letsencrypt is used as a reference but a script that is run should really work for an fully signed certificate authority.

see reference here:
https://www.ibm.com/docs/en/cpfs?topic=services-configuring-foundational-by-using-custom-resource#byoc

thinking bash script could do this after a mas

[2022-05-24 17:57] tcskill commented on #237
@seansund if you could do the script for the common services update to lets encrypt (or other signed CA) I can work on the mas updates to support it

[2022-05-24 21:45] tcskill commented on #93
@triceam @seansund  - Some applications *can* be installed with Maximo Manage. Here is a list of the ones that can.  @seansund this can be done via the design I showed you with Manage that I setup.  I will be adding these one at a time as they can be tested. So add, test, and the next.

- Health (currently added and being tested)
- Civil Infrastructure (currently added and being tested)
- Aviation

[2022-05-25 10:06] Sivasaivm opened #238 "AWS Automation BoM for Production Architecture"
Assemble AWS Modules to deploy Production ROSA Platform [Architecture](https://github.com/cloud-native-toolkit/automation-solutions/blob/main/architectures/aws/aws-cloud-architecture-production.png).

- [x] VPC Layer
Workload Zones - Edge, Development and Production

- [x] Subnet Layer
Availability & Security Controls

- [x] Transit Gateway
Inter Network connectivity

- [x] Internet Gateway
Allows

[2022-05-25 14:05] #24 closed, assigned to rich-ehrhardt

[2022-05-25 14:06] #101 closed, assigned to nobody

[2022-05-25 14:06] #217 closed, assigned to NoeSamaille

[2022-05-25 14:07] #220 closed, assigned to NoeSamaille

[2022-05-25 14:50] #86 closed, assigned to mjperrins

[2022-05-25 20:34] triceam commented on #205
Done https://github.com/cloud-native-toolkit/sre-utilities/tree/main/ibm

[2022-05-25 20:34] #205 closed, assigned to triceam

[2022-05-26 07:15] saurabhrajguru opened #239 "Rename terraform-azure-waf to terraform-azure-app-gateway"
For better naming convention, Need to rename https://github.com/cloud-native-toolkit/terraform-azure-waf to terraform-azure-app-gateway.

[2022-05-26 13:11] seansund opened #240 "Carlos would like the build status in the catalog to not show for modules in "pending" status"

[2022-05-26 13:11] seansund opened #241 "The default filter in the module catalog is set to "Released" but it is not applied properly when the catalog is loaded"

[2022-05-26 14:56] #240 closed, assigned to seansund

[2022-05-26 14:56] #241 closed, assigned to seansund

[2022-05-26 23:34] rich-ehrhardt commented on #178
New tenant and subscription has been configured. Migrating workloads to the new subscription.

[2022-05-26 23:34] #178 closed, assigned to rich-ehrhardt

[2022-05-27 00:32] #239 closed, assigned to rich-ehrhardt

[2022-05-31 19:56] triceam opened #244 "CP4D - Data Foundation for Azure"

[2022-05-31 19:57] triceam opened #245 "CP4D - Data Foundation for AWS"

[2022-05-31 20:12] #158 closed, assigned to triceam

[2022-05-31 20:13] #23 closed, assigned to sgumpana

[2022-05-31 20:18] triceam opened #246 "CP4D Techzone"
Need collection that includes:

- Data Foundation
- DB2WH
- DB2 OLTP

[2022-05-31 20:19] rich-ehrhardt opened #247 "Create a Tech Zone demo video for Azure quickstart implementation"

[2022-05-31 20:24] #219 closed, assigned to triceam

[2022-05-31 20:25] #232 closed, assigned to triceam

[2022-05-31 20:46] seansund commented on #161
blocked waiting for June release of CP4D that includes the operator

[2022-05-31 20:54] balasgit commented on #161
<img width="637" alt="2022-05-20_13-18-28" src="https://user-images.githubusercontent.com/25986944/171282768-3e32e3cf-3c75-4870-b26e-01d271afa82d.png">

[2022-05-31 20:55] balasgit commented on #161
<img width="1127" alt="2022-05-20_11-56-56" src="https://user-images.githubusercontent.com/25986944/171282825-f28fa9da-aa83-4d4c-9bf5-0d18820a4ebe.png">

Internal EPIC for DB2 Operator instance

[2022-06-01 14:31] tcskill opened #248 "tf destroy will hang on finalizers for some operators that don't clean up CRs"
I’ve seen in the last month or so (not sure when this started) but some namespaces hang on destroy and it usually seems to be related to the CR’s still being out there and not destroyed properly. I’ve seen this on argocd apps. the interesting thing, if this scenario happens it hangs the module when running as a github action, but NOT when running outside of github actions, those complete.  Could b

[2022-06-01 20:20] balasgit commented on #196
Open Issues to complete EPIC 196 for Gitops Modules with status “released” & “Beta”

- https://github.com/cloud-native-toolkit/terraform-gitops-cp-apic/issues/8
- https://github.com/cloud-native-toolkit/terraform-gitops-cp-ace-designer/issues/6
- https://github.com/cloud-native-toolkit/terraform-gitops-cp-platform-navigator/issues/15
- https://github.com/cloud-native-toolkit/terraform-gitops-cp-ac

[2022-06-01 21:17] balasgit commented on #160
Working on db2 WH BOM

[2022-06-02 11:15] #234 closed, assigned to BrahmSingh

[2022-06-02 18:52] balasgit opened #249 "Colima - Networking Issue Failing to download the Tools"
As per instructions, tried to run the Terraform auto approve for the 200-gitops module which results in error downloading the tools.

<img width="1363" alt="Screen Shot 2022-06-02 at 1 31 45 PM" src="https://user-images.githubusercontent.com/25986944/171705806-2825043a-89c5-43f5-b5fa-b5d5bad4402b.png">

[2022-06-02 19:20] balasgit opened #250 "Terraform Init - Error inside container"
checked with couple of folks as they are not seeing this error.. Any workaround for this issue ?

<img width="1268" alt="Screen Shot 2022-06-02 at 2 20 29 PM" src="https://user-images.githubusercontent.com/25986944/171720677-1751228e-ae15-4130-ae44-9263f6db6cbb.png">

[2022-06-02 20:26] triceam commented on #250
Do you mean the plugin cache message?  If so, that can be ignored.

[2022-06-02 20:37] balasgit commented on #250
Yes thats correct.. Let me close issues.. thanks

[2022-06-02 20:37] #250 closed, assigned to triceam, seansund

[2022-06-03 05:05] rich-ehrhardt opened #251 "Maureen would like to be able to add htpasswd oauth to OpenShift cluster"

[2022-06-03 05:07] rich-ehrhardt opened #252 "Request new module: ocp-htpasswd"
**Related user story**
#251

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
all

**What is the purpose of the module?**
Module will create oauth htpasswd authentication

**What is the category of the module?**
utilities

[2022-06-03 05:30] rich-ehrhardt commented on #252
/group cluster

[2022-06-03 05:31] rich-ehrhardt commented on #252
/name ocp-htpasswd

[2022-06-03 05:32] rich-ehrhardt commented on #252
/displayName OpenShift HTPasswd OAuth

[2022-06-03 14:45] tcskill commented on #248
noticed this most recently with the argocd namespace apps that are created. when you manually remove the finalizer, it will finish and destroy which will then free up other argocd apps to destroy

[2022-06-03 20:07] #147 closed, assigned to nobody

[2022-06-03 20:07] #249 closed, assigned to triceam, seansund

[2022-06-04 13:52] tcskill opened #253 "Request new module: mas-monitor"
**Related user story**
#9

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure

**What is the purpose of the module?**
creates a gitops deployment for maximo monitor

**What is the category of the module?**
software

[2022-06-06 16:55] balasgit opened #254 "Segmentation Fault when executing gitops setp in Colima"
│ Error: local-exec provisioner error
│
│   with module.gitops_repo.module.gitops-repo.null_resource.repo,
│   on .terraform/modules/gitops_repo.gitops-repo/main.tf line 28, in resource "null_resource" "repo":
│   28:   provisioner "local-exec" {
│
│ Error running command '.terraform/modules/gitops_repo.gitops-repo/scripts/create-repo.sh 'github.com'
│ 'balasgit' 'df--cp4d-gitops' 'false' 'kICclfm

[2022-06-06 16:57] balasgit commented on #254
Workaround is to try with docker desktop which works fine

[2022-06-06 18:28] #176 closed, assigned to tcskill

[2022-06-06 18:28] #105 closed, assigned to triceam, tcskill

[2022-06-06 18:38] smatthyssen commented on #160
using Docker, was blocked by Colima last week

[2022-06-07 16:17] triceam commented on #253
/name mas-monitor

[2022-06-07 16:17] triceam commented on #253
/displayName MAS Monitor

[2022-06-08 22:29] tcskill opened #255 "terraform destroy doesn't destroy the resources in the repo"
Running terraform destroy (outside of github actions) - from within our github.com/ibm/automation* repos, this will show a successful destroy however the components will still exist within ArgoCD and within the repo and must manually be removed in order to try and install again.

[2022-06-08 22:33] tcskill opened #256 "terraform rate limit prevents apply but tf shows complete"
Issue with running outside of gihub actions from within our github.com/ibm/automation* repos... when you run and hit a rate limit error, the module seems like it will just move on to the next module. terraform will complete successfully, but the module with the rate limit never gets installed / created in the repo.  The problem I'm seeing is that you can not just re run terraform apply and get tha

[2022-06-09 00:43] tcskill opened #257 "Request new module: terraform-gitops-mas-iot"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Related user story**
Provide the issue number for the user story related to this request, make sure you have create

[2022-06-09 13:39] triceam commented on #257
/name mas-iot

[2022-06-09 13:44] triceam commented on #257
/displayName MAS IoT

[2022-06-09 14:35] triceam opened #258 "Research Cloud Pak Deployer"
https://github.com/IBM/cloud-pak-deployer

Easier Cloud Pak deployments, with aligned versions/dependencies.

https://ibm.github.io/cloud-pak-deployer/advanced/gitops/
https://ibm.github.io/cloud-pak-deployer/advanced/run-on-openshift/

[2022-06-09 14:35] triceam commented on #258
This uses olm-utils under the covers to maintain versions/dependencies.

[2022-06-10 01:02] tcskill commented on #257
Module created

[2022-06-10 01:02] #257 closed, assigned to triceam, seansund

[2022-06-10 01:07] tcskill opened #259 "Request new module: mas-kafka"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Related user story**
Provide the issue number for the user story related to this request, make sure you have create

[2022-06-10 09:45] RamyaRaghuveera opened #260 "Request new module: terraform-gitops-swagger-editor"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Type of module**
gitops

**If requesting a terraform module, what is the target cloud platform?**
ibm, aws, azure,

[2022-06-10 14:18] triceam opened #261 "missing `ssh-keygen` command when executing on M1 mac"
When executing the `cli-tools:v1` image on a M1 Mac, you get a `ssh-keygen: command not found` error message when running `setup-workspace.sh` for FS or Z automation:

[code]

You can get around this by running the following inside the `cli-tools` container:
[code]

[2022-06-10 14:42] #261 closed, assigned to triceam

[2022-06-10 15:08] triceam commented on #259
/name mas-kafka

[2022-06-10 15:09] triceam commented on #259
/displayName MAS Kafka

[2022-06-10 16:33] seansund commented on #260
/name swagger-editor

[2022-06-10 16:33] seansund commented on #260
/displayName Swagger Editor

[2022-06-13 12:40] balasgit commented on #159
DB2 BOM is completed but blocked in testing due to modules are not getting published in catalog

https://ibm-cloud.slack.com/archives/C02KB99P2JC/p1654961418665239

[2022-06-13 12:42] balasgit commented on #190
currently we are using custom install.. we will revisit if there is interest from GSI

[2022-06-13 12:44] balasgit commented on #160
Currently blocked by the modules not getting published to catalog https://ibm-cloud.slack.com/archives/C02KB99P2JC/p1654961418665239

[2022-06-13 16:14] triceam opened #262 "catalog publishing is failing."
For example:
https://github.com/cloud-native-toolkit/software-everywhere/actions/runs/2487073834

[code]

[2022-06-13 16:43] #262 closed, assigned to triceam

[2022-06-13 19:02] balasgit opened #264 "DB2WH Terraform destroy error - resources hanging"
Normally if we run from the modules db2wh which cleans all resources after the validatedeploy.sh is successful.

I ran the terraform destroy which cleans up some project but others are hanging.

<img width="1776" alt="2022-06-13_13-40-40" src="https://user-images.githubusercontent.com/25986944/173425829-9db9968c-e71b-491d-bbd2-effbe0448fde.png">

[2022-06-13 19:41] balasgit commented on #256
I hit the same error for DB2OLTP which results above behaviour.

Manual clean up is kind of risky as resources are not going away..

<img width="1419" alt="2022-06-13_14-40-37" src="https://user-images.githubusercontent.com/25986944/173432038-208c7e21-2b21-40fc-b748-ede6e1486a2f.png">

[2022-06-13 21:34] balasgit opened #265 "DB2OLTP Terraform destroy - resources hanging"
Terraform destroy is success but resources are hanging.. Is there anything which i need to add to scripts

<img width="1207" alt="Screen Shot 2022-06-13 at 4 34 32 PM" src="https://user-images.githubusercontent.com/25986944/173449264-86c54e4e-74c2-4a23-8ee5-63eefb91ed15.png">

ARGO CD resources
<img width="1507" alt="2022-06-13_16-34-00" src="https://user-images.githubusercontent.com/25986944/1734

[2022-06-13 21:53] tcskill opened #266 "Request new module: terraform-gitops-strimzi"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Related user story**
Provide the issue number for the user story related to this request, make sure you have create

[2022-06-14 03:14] triceam commented on #254
I'm now seeing a similar issue in colima:

[code]

[2022-06-14 12:04] balasgit opened #267 "DB2 OLTP and WH - optional:true (BOM) is not behaving as expected"
I have added optional:true which is adding all dependencies and causing modules to be installed that already exist

**DB2WH BOM**
    - name: gitops-cp-db2wh
      variables:
        - name: common_services_namespace
          value: ibm-common-services
        - name: operator_namespace
          value: cpd-operators
        - name: cpd_namespace
          value: cp4d
        - name: license

[2022-06-14 12:06] seansund commented on #266
/name kafka-strimzi

[2022-06-14 13:49] balasgit commented on #267
Tried adding the optional:true for all dependencies but still same behaviour

apiVersion: cloud.ibm.com/v1alpha1
kind: BillOfMaterial
metadata:
  name: 320-cloud-pak-for-data-db2oltp
  labels:
    type: software
    code: '320'
  annotations:
    displayName: DB2 OLTP for Cloud Pak for Data
    description:  GitOps deployment of DB2 OLTP for Cloud pak for Data
spec:
  modules:
    - name: gitops-n

[2022-06-14 13:50] balasgit commented on #267
DB2 WH BOM

apiVersion: cloud.ibm.com/v1alpha1
kind: BillOfMaterial
metadata:
  name: 315-cloud-pak-for-data-db2wh
  labels:
    type: software
    code: '315'
  annotations:
    displayName: DB2 Warehouse for Cloud Pak for Data
    description:  GitOps deployment of DB2 Warehouse for Cloud pak for Data
spec:
  modules:
    - name: gitops-namespace
      alias: gitops-cp-db2wh_namespace
      vari

[2022-06-14 14:13] balasgit commented on #267
Generated BOM brings its own dependency without optional:true based on module.yaml that may be causing this behaviour

<img width="1774" alt="2022-06-14_09-05-24" src="https://user-images.githubusercontent.com/25986944/173598702-59f06af7-6136-423c-ba79-5c7b8e67fb70.png">

[2022-06-14 14:54] balasgit commented on #159
Blocked by this issue - https://github.com/cloud-native-toolkit/software-everywhere/issues/267

[2022-06-14 14:55] balasgit commented on #160
Blocked by this issue - https://github.com/cloud-native-toolkit/software-everywhere/issues/267

[2022-06-14 14:56] balasgit commented on #159
Destroy causing issues - https://github.com/cloud-native-toolkit/software-everywhere/issues/265

[2022-06-14 14:57] balasgit commented on #160
terraform destroy causing issues - https://github.com/cloud-native-toolkit/software-everywhere/issues/264

[2022-06-14 17:36] tcskill opened #268 "create maximo app: iot"
This should create the iot application within maximo application suite

[2022-06-14 18:28] tcskill opened #269 "create module: mas - kafka config"
creates a mas kafka config for maximo needed for iot/monitor applications

[2022-06-14 21:03] triceam opened #270 "Update Z automation"
- Sync with latest FS Cloud
- Provision Z VSI

Example to provision Z VSI:
https://github.com/ibm-hyper-protect/linuxone-vsi-automation-samples/tree/master/terraform-single

[2022-06-14 21:07] #244 closed, assigned to triceam

[2022-06-14 21:08] triceam commented on #222
Readme in https://github.com/IBM/automation-data-foundation

[2022-06-14 21:08] #222 closed, assigned to triceam

[2022-06-14 21:08] triceam commented on #223
Published: https://github.com/IBM/automation-data-foundation

[2022-06-14 21:08] #223 closed, assigned to triceam

[2022-06-14 21:16] triceam opened #271 "Update data foundation automation apply-all.sh"
Update data foundation automation `apply-all.sh`. so that optional components are not executed by the apply-all script.  The BOMs should be updated with metadata: `optional: true` - if optional is true, don't execute that module inside of apply-all.

[2022-06-15 14:27] triceam commented on #266
/displayName Kafka Strimzi

[2022-06-15 19:41] #271 closed, assigned to triceam

[2022-06-16 13:18] tcskill commented on #269
completed

[2022-06-16 13:18] #269 closed, assigned to tcskill

[2022-06-16 15:00] triceam commented on #270
Items:
1. remove cluster creation in 120
2. in both 120 and 130, create a Z vsi
3. update devtools to latest
4. update `apply-all.sh` to automatically connect to vpn (synch with FS scripts)

[2022-06-16 15:05] #159 closed, assigned to balasgit

[2022-06-16 15:06] #160 closed, assigned to balasgit

[2022-06-16 15:08] balasgit opened #272 "Terraform Destroy - State exist in another workspace but throwing errors if we run"
If we try to run the destroy outside of the current workspace directory which is throwing errors.

Outside current workspace
<img width="1164" alt="2022-06-16_09-53-44" src="https://user-images.githubusercontent.com/25986944/174101368-e8a9de23-6473-44c1-baf2-4cb5e0954eba.png">

Running from old workspace
<img width="1164" alt="2022-06-16_09-53-44" src="https://user-images.githubusercontent.com/259

[2022-06-16 17:25] balasgit opened #273 "Instruction needs to be updated - Git clone repo Issue"
as per instructions https://github.com/IBM/automation-data-foundation

i am not able to clone repo.

bala@Bala Office dbbomupdate % git clone git@github.com:IBM/automation-data-foundation.git
Cloning into 'automation-data-foundation'...
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repositor

[2022-06-16 19:13] balasgit commented on #273
Fixed the issue and publised the readme

[2022-06-16 19:13] #273 closed, assigned to balasgit

[2022-06-16 19:14] balasgit commented on #267
Workaround with the dependency change in the module.yaml which helps to fix the issues

[2022-06-16 19:14] #267 closed, assigned to balasgit

[2022-06-16 19:16] balasgit commented on #246
Call is scheduled this friday with anitha and socialize about this

[2022-06-16 19:18] #191 closed, assigned to nobody

[2022-06-16 19:18] balasgit commented on #191
Supported specialization installation and published artifacts

[2022-06-16 19:20] #135 closed, assigned to nobody

[2022-06-16 19:20] #134 closed, assigned to nobody

[2022-06-17 02:47] seansund opened #274 "Request new module: etcd"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Related user story**
Provide the issue number for the user story related to this request, make sure you have create

[2022-06-17 02:49] seansund commented on #274
/displayName IBM etcd

[2022-06-17 02:49] seansund commented on #274
/group etcd

[2022-06-17 05:56] #274 closed, assigned to seansund

[2022-06-17 16:40] #270 closed, assigned to triceam

[2022-06-17 17:32] triceam opened #275 "IBM/Z Modernization Stack"
There's a collection of tools for Z that can be deployed to OpenShift:
https://www.ibm.com/products/z-and-cloud-modernization-stack

Should we create automation to deploy this to openshift, and include it in the Z automation bundle?
https://github.com/IBM/automation-ibmcloud-infra-zos-dev

[2022-06-19 12:49] #268 closed, assigned to tcskill

[2022-06-19 12:51] #9 closed, assigned to tcskill

[2022-06-19 12:51] tcskill commented on #8
reopening to continue testing / dev on other components

[2022-06-20 14:57] seansund opened #276 "Tammy would like to be able to install software in an airgapped environment on Azure"

[2022-06-20 15:00] seansund opened #277 "Tammy would like to use Azure DevOps git server for the gitops repository"

[2022-06-20 18:01] triceam opened #278 "Z/OS Pipeline"
Create Tekton Pipeline to build some COBOL and push it to a Z/OS VSI instance: https://github.com/IBM/automation-ibmcloud-infra-zos-dev

[2022-06-21 04:43] amkanjil commented on #201
@triceam The ROKS cluster needs to be cleaned up for retesting of the latest BOM. Terraform destroy or detroy-all.sh didn't work for me. Can you please take a look at it?

[2022-06-21 13:53] triceam opened #279 "Deploy GitLab into an OCP Cluster"
To Support common Z/OS workloads, we should support deploying GitLab CE in an OCP cluster.

Deploy GitLab Operator on OpenShift:
https://docs.gitlab.com/operator/installation.html

GitLab Operator Docs:
https://docs.gitlab.com/operator/

[2022-06-21 14:53] seansund opened #280 "Request new module: azure-iot-hub"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
azure

**What

[2022-06-21 14:53] seansund commented on #280
/name iot-hub

[2022-06-21 14:54] seansund commented on #280
/group iot

[2022-06-21 14:54] seansund commented on #280
/displayName Azure IoT Hub

[2022-06-21 20:26] balasgit commented on #258
@triceam @seansund

- Cloud Pak deployer is the asset which was developed originally for project Dapper @Deloitte during my presence last year by IBM Team  Plus i shared information in the our slack 7 months ago.

- They build based on olm-utils which CP4D only supported at this moment

- Currently supported **ONLY CP4D** and other Cloud Pak are not ready to consume at this moment.

- We can discu

[2022-06-21 20:34] balasgit commented on #258
Currently they are working to add CP4I as you can see https://github.com/IBM/cloud-pak-deployer/tree/main/automation-roles/50-install-cloud-pak

[2022-06-21 22:00] balasgit commented on #258
Summary :
- The Cloud Pak deployer (CP4D) only supports express installation as they are installing all foundation as well as services in the namespace "Foundation_Project"

- Based on our discussion, we needed min specialized install which gets installed across multiple namespace instead of single namespace dumping..

Hence this cloud pak deployer may NOT good fit based on current implementation.

[2022-06-22 12:17] balasgit opened #281 "Validate OMS on Azure"
Validate the OMS on Azure as the microsoft initiative will benefit from this activity.

[2022-06-22 12:53] balasgit opened #282 "OMS - Automation"
Deliverables:
[ ] - Readme
[ ] - BOM
[ ] - Github Repo

[ ] - Validate the OMS on IBM Cloud
[ ] - Validate the OMS on Azure

[2022-06-22 12:55] balasgit opened #283 "OMS BOM"

[2022-06-22 12:55] balasgit opened #284 "OMS Readme"

[2022-06-23 13:01] triceam opened #285 "Turbonomic automation does not have Colima network overrides"
The turbonomic automation does not check for colima overrides.  We should add it so that we avoid colima network-related issues.

Launch script here:
https://github.com/IBM/automation-turbonomic/blob/main/launch.sh

---

Update:
The automation is already referencing the shared launch script that includes the colima overrides:
https://github.com/cloud-native-toolkit/automation-solutions/blob/main/c

[2022-06-23 14:21] triceam opened #286 "rate limiting"
All of our solutions are subject to rate limiting limitations.  When this happens, the environment is left in a partially configured state.  The common user has no idea how to resolve the issue.  To work around this, we should add the `parallelism` flag to all of our `apply.sh` and `apply-all.sh` scripts for all released software packages, including:

- [x] https://github.com/IBM/automation-data-f

[2022-06-23 14:32] balasgit opened #287 "Load latest BOM in Ascent tool"
- Make sure latest automation-solutions BOMs are in Ascent

- we have not automated that flow just yet

[2022-06-23 14:33] balasgit opened #288 "ApplyAll & DestroyAll Scripts - Validation"
Validate the ApplyAll and DestroyAll scripts for latest BOM and align Readme

[2022-06-23 15:25] seansund opened #289 "Request new module: azure-storage-account"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

It seems like Azure Storage Account is something that should be done once. Need to confirm how Storage Account intera

[2022-06-23 16:26] balasgit commented on #287
Loaded BOMS as of 23th June 11am contents

[2022-06-23 16:26] #287 closed, assigned to balasgit

[2022-06-24 15:12] triceam commented on #286
removed https://github.com/IBM/automation-integration-platform from the list b/c it is not released yet.  This will be included when it is released.

[2022-06-24 15:57] balasgit opened #290 "Automate the database instance creation for db2wh"
Automate the database instance creation for db2wh as well as support this requirements

- https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2wh/issues/19

[2022-06-24 15:58] balasgit opened #291 "Automate the database instance creation for db2oltp"
Automate the database instance creation for db2oltp as well as support this requirements

https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2wh/issues/19

[2022-06-24 16:28] #128 closed, assigned to nobody

[2022-06-24 18:01] triceam opened #293 "Rename db2wh to db2wh-service"
Rename `cp-db2wh` module to `cp-db2wh-service`.

1. [x] Rename repo
2. [x] Update module catalog
3. [ ] Update BOMs

[2022-06-24 18:02] triceam commented on #293
Repo renamed: https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2wh-service

[2022-06-24 18:02] triceam commented on #293
Catalog Updated: https://github.com/cloud-native-toolkit/software-everywhere/pull/292

[2022-06-24 18:04] triceam opened #294 "Request new module: cp-db2wh"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Related user story**
https://github.com/cloud-native-toolkit/software-everywhere/issues/290

**Type of module**
git

[2022-06-24 18:05] triceam commented on #294
/displayName DB2 Warehouse Instance

[2022-06-26 15:38] balasgit opened #295 "OMS Techzone - Contents (Platinum)"

[2022-06-26 15:38] balasgit opened #296 "OMS Techzone - Technical Work"

[2022-06-26 15:39] balasgit commented on #295
Gather the information required to support the OMS Techzone contents such as Videos, Do IT, See IT Section

Anita will reach out Deepa / Priya Squad and colloborate on this.

[2022-06-26 15:40] balasgit commented on #296
Bala will work with Andy/Sean and colloborate with Techzone team (Pam, Mike etc) to deliver the technical contents required for OMS on Techzone.

[2022-06-27 16:21] triceam opened #297 "Deploy CodeReady Workspaces in Z/OS development automation"
Deploy CodeReady Workspaces in Z/OS development automation

[2022-06-27 16:29] triceam opened #298 "Z/OS Catalog Tile"
Work with Catalog team to have a tile to provision Z/OS automation

[2022-06-27 16:35] triceam opened #299 "VPN Module should put VPN cert in COS"
The VPN module should put the generated VPN certificate into object storage, so its easily accessible, even if the automation was executed via schematics.

This is to support Z/OS dev workflows

[2022-06-27 16:38] triceam opened #300 "Tekton task to deploy to Z/OS"

[2022-06-28 11:48] balasgit opened #301 "OMS - Code Review"

[2022-06-28 11:50] balasgit opened #302 "OMS Validation on IBM Cloud"

[2022-06-28 16:51] balasgit commented on #296
Techzone publish : https://ibm.box.com/s/0hqyk884m6a03p0ivodup1y9mhkgyupz

[2022-06-28 16:53] balasgit commented on #246
Call is scheduled with Techzone team with the help of Sean.  As a result, the Techzone assigned Ben to work with us.

Here is the contents captured so far https://ibm.box.com/s/0hqyk884m6a03p0ivodup1y9mhkgyupz which will evolve as we strategy. Later, other components can be followed to implement same

[2022-06-28 19:06] triceam opened #303 "Debug Fast Start installation issues"
See thread: https://ibm-cloudplatform.slack.com/archives/CPJDVFAN8/p1656440643845779?thread_ts=1654103924.500979&cid=CPJDVFAN8

[2022-06-28 19:08] triceam commented on #285
Fixed in https://github.com/IBM/automation-turbonomic/pull/15

[2022-06-28 19:08] #285 closed, assigned to triceam

[2022-06-28 19:12] seansund opened #304 "Z/OS development environment"

[2022-06-28 19:37] seansund opened #305 "Automate reporting and clean up of cloud account resources"
- [ ] IBM Cloud
    - [ ]  Readme - https://github.com/cloud-native-toolkit/ibmcloud-utilities/blob/main/README.md
    - [ ]  Automate Script - https://github.com/cloud-native-toolkit/ibmcloud-utilities
- [ ] AWS
    - [ ] Readme
    - [ ] Automate Script
- [ ] Azure
    - [ ] Readme - https://github.com/cloud-native-toolkit/azure-utilities/blob/main/README.md
    - [ ] Automate Script - https://g

[2022-06-28 19:38] seansund opened #306 "Maximo core enhancement"

[2022-06-28 19:40] seansund opened #307 "End to end automated integration test"

[2022-06-28 19:41] triceam opened #308 "Data Foundation automated testing"

[2022-06-28 19:43] triceam opened #309 "CP4D Certificate does not work with Maximo deployments on Azure"

[2022-06-28 19:47] seansund opened #310 "Publish Maximo to TechZone"
- [ ] Publish "See It" video content
- [ ] Publish "Learn It" demo content
- [ ] Define "Do It" resources
- [ ] Add TechZone collection to Software Everywhere Seismic page
- [ ] Add TechZone collection to Maximo sales guide
- [ ] Update installation README in TechZone for 101 installer (follow Turbonomic) - Amit

[2022-06-28 19:54] seansund opened #311 "Certify Maximo 8.8 deploy on CP4D 4.5"

[2022-06-28 19:55] seansund opened #312 "Update CP4D modules to 4.5 release"

[2022-06-28 19:59] seansund opened #313 "Add analytics to ASCENT and module catalog UI"

[2022-06-29 02:06] balasgit commented on #305
Exploring Azure CLI/API that will give options to retrieve the resource usage with billing cost

[2022-06-29 14:29] seansund opened #314 "Merge to gitops repo failing with rebase error"

[2022-06-29 14:35] #277 closed, assigned to seansund

[2022-06-29 14:36] #314 closed, assigned to seansund

[2022-06-29 15:34] balasgit opened #315 "Azure - Resource Usage and Billing Cost extract"
Azure consumption usage CLI
  - https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest
  - https://docs.microsoft.com/en-us/cli/azure/consumption/usage?view=azure-cli-latest

Azure Billing Usage API (REST)
  - https://docs.microsoft.com/en-us/rest/api/azure/ (Rest API for Azure)
  - https://docs.microsoft.com/en-us/rest/api/billing/

Azure CLI install
  - https://docs.microsoft.com/en-u

[2022-06-29 15:37] balasgit opened #316 "AWS - Resource Usage and Billing Cost extract"
Need to explore and find out CLI or API exist for AWS

[2022-06-29 15:43] balasgit opened #317 "IBM - Resource Usage and Billing Cost extract"
Explore the CLI and API to retrieve the information from IBM Cloud usage and billing cost

[2022-06-29 16:49] balasgit opened #318 "IBM Cloud - Define tagging scheme for resources"
Associate the tagging for the resources provisioned

[2022-06-29 16:50] balasgit opened #319 "Azure - Define tagging scheme for resources"
Associate the tagging for the resources provisioned in the Azure Cloud

[2022-06-29 16:50] balasgit opened #320 "AWS - Define tagging scheme for resources"
Associate the tagging for the resources provisioned in the AWS

[2022-06-29 16:52] balasgit opened #321 "IBM Cloud - Define process for cleaning resources"
Define process for cleaning resources via manually as first step

[2022-06-29 16:52] balasgit opened #322 "AWS - Define process for cleaning resources"
Define process for cleaning resources

[2022-06-29 16:52] balasgit opened #323 "Azure - Define process for cleaning resources"
Define process for cleaning up process

[2022-06-29 16:53] balasgit opened #324 "IBM Cloud - Automate cleanup"
IBM Cloud nuke automate tool will clean up everything https://github.com/balasgit/ibmcloud-nuke

- A config file can be used to specify names and IDs of resources to skip over.

[2022-06-29 16:54] balasgit opened #325 "Azure - Automate Clean up"
Automate the clean up of the azure resources..

[2022-06-29 16:54] balasgit opened #326 "AWS - Automate Cleanup"
**Reference :** AWS Nuke which will clean up everything https://github.com/balasgit/aws-nuke

Need to explore and decide how good this is

[2022-06-30 02:03] triceam commented on #303
Fixed in https://github.com/cloud-native-toolkit/terraform-ibm-image-registry/pull/34
Fixed in https://github.com/cloud-native-toolkit/ibm-garage-iteration-zero/pull/410

[2022-06-30 16:25] triceam commented on #286
I decided to go back and modify `apply.sh` in addtion to `apply-all.sh`.  Default parallelism is now 6 (was 10), and parallelism for software install is 3 (not for bootstrapping gitops, just for software boms, determined at BOM level by metadata in the yaml):

The following repos have been updated:
- https://github.com/IBM/automation-data-foundation
- https://github.com/IBM/automation-ibmcloud-inf

[2022-06-30 16:53] triceam commented on #303
This was due to module interface drift.
Confirmed working on a fresh ROKS cluster:

<img width="577" alt="image" src="https://user-images.githubusercontent.com/974294/176734013-e05dfc56-7fae-47fe-9252-b66e62be990b.png">

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/974294/176733930-3d6231e3-6e32-4da2-b991-6086bdb1f9f5.png">

[2022-06-30 16:53] #303 closed, assigned to triceam

[2022-06-30 17:18] triceam opened #327 "Add Dischord notifications to toolkit fast start automated testing"
The scheduled `Verify` action:
https://github.com/cloud-native-toolkit/ibm-garage-iteration-zero/actions

Here’s how to publish to discord - https://github.com/IBM/automation-ibmcloud-infra-openshift/blob/main/.github/workflows/verify-schedule.yaml#L19
verify-schedule.yaml

Currently it is notifying in slack:
https://github.com/cloud-native-toolkit/ibm-garage-iteration-zero/blob/master/.github/wor

[2022-06-30 17:58] #286 closed, assigned to triceam

[2022-06-30 19:52] triceam opened #328 "Update Z/OS dev terraform"
Have 2 variants:
- have simplified environment (1 vpc, with vpn, both VSI and cluster in the single vpc)
- edge + dev vpcs (current automation)

[2022-06-30 19:56] triceam opened #329 "Integrate Z/OS automation as a Techzone environment"
Integrate Z/OS automation as a Techzone environment

automation: https://github.com/cloud-native-toolkit/software-everywhere/issues/328

Details on Techzone:
https://ibm.ent.box.com/notes/977212608527?s=0hqyk884m6a03p0ivodup1y9mhkgyupz

General flow:
- create automation to deploy resources
- update automation to work with techzone framework (either wrap, or direct updates)
- PR with automation int

[2022-06-30 19:57] triceam opened #330 "Define patterns for Techzone environments"
Define parameters/workflow for provisioning our automation within Techzone

Details on Techzone:
https://ibm.ent.box.com/notes/977212608527?s=0hqyk884m6a03p0ivodup1y9mhkgyupz

General flow:
- create automation to deploy resources
- update automation to work with techzone framework (either wrap, or direct updates)
- PR with automation into https://github.ibm.com/dte2-0/ccp-gitops-patterns/
- work w

[2022-06-30 19:57] triceam commented on #330
Related Z/OS effort: https://github.com/cloud-native-toolkit/software-everywhere/issues/329

[2022-06-30 19:58] triceam commented on #329
Related Techzone story: https://github.com/cloud-native-toolkit/software-everywhere/issues/330

[2022-07-01 15:21] triceam opened #331 "Automation to create clusters with Portworx on Techzone"
Need automation to create Techzone clusters that have portworx.
Use patterns defined in: https://github.com/cloud-native-toolkit/software-everywhere/issues/330

[2022-07-01 15:21] triceam commented on #330
Related: Techzone clusters with portworx: #331

[2022-07-01 15:37] balasgit commented on #305
Initial version

[2022-07-01 22:45] balasgit commented on #305
Azure Initial Version :
https://github.com/cloud-native-toolkit/azure-utilities

Future Releases for Azure
 - Currently test CLI with MFA but need to change to Service Principal
 - Extract consumption via  JMESPath language while we sort out the permission for Billing / Cost
 - Tagging Scheme for all resources since currently resources provisioned are not tagged properly
 - Support the resources d

[2022-07-04 21:48] tcskill commented on #237
closed with https://github.com/cloud-native-toolkit/terraform-gitops-cp-maximo/pull/20

[2022-07-04 21:48] #237 closed, assigned to seansund, tcskill

[2022-07-04 21:51] tcskill commented on #102
closed with: https://github.com/cloud-native-toolkit/terraform-gitops-cp-maximo/pull/20

[2022-07-04 21:51] #102 closed, assigned to tcskill

[2022-07-05 13:20] triceam opened #332 "CP4D Tagging"
- Update all Tag/pin versions for CP4D modules to 4.0.
- Update BOMs to use pinned 4.0 versions.
- Prepare modules/BOMS to have separate 4.5 BOMs in addition to 4.0 BOMs to allow user to choose their version.

[2022-07-05 13:22] triceam commented on #332
Focus on Data Foundation and Data Fabric use cases

[2022-07-05 13:53] triceam opened #333 "Troubleshooting/Deploy guide for bastion on on-cluster"
In maximo testing, we recently ran into a problem where at least 30% of the network requests between India and the cluster in the us-east data center failed due to network latency.

The workaround was to execute our automation inside of a pod on the clutser.
We need to document this process as an approved installation pattern.  We should support/document steps to deploy our automation both from a

[2022-07-05 14:19] triceam commented on #328
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/974294/177349713-a2d6b9bd-c7f5-4a1b-b2f1-6765668667c1.png">

[2022-07-05 14:23] triceam opened #334 "Z/OS Multicloud deployments"
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/974294/177350511-25c7f95b-d875-4821-a6af-3713a0ce9459.png">

[2022-07-05 19:09] rich-ehrhardt commented on #208
Module has been created.

[2022-07-05 19:09] #208 closed, assigned to rich-ehrhardt, sudhiribm, hemang-ibm

[2022-07-05 19:10] rich-ehrhardt commented on #210
Module has been created

[2022-07-05 19:10] #210 closed, assigned to sunmeher, rich-ehrhardt, sudhiribm

[2022-07-06 13:53] tcskill opened #335 "Request new module: terraform-gitops-mas-predict"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Related user story**
Provide the issue number for the user story related to this request, make sure you have create

[2022-07-06 18:46] seansund commented on #335
/name mas-predict

[2022-07-06 18:46] seansund commented on #335
/displayName MAS Predict

[2022-07-07 01:29] rich-ehrhardt opened #337 "Need a way of destroying bootstrap resources once UPI build completed"
For a custom OpenShift IPI build, the bootstrap server, security rules and public IP are created to bootstrap the cluster's master nodes. Once the master nodes have the API running, the rest of the build is done by them and the bootstrap resources need to be removed for security. Options are,
1. use az cli to destroy the resources within a terraform null-resource
      Requires installation of the

[2022-07-07 03:23] rich-ehrhardt commented on #337
terragrunt works with the following as an example creating the null_resource.create-bootstrap initially and then destroying it afterwards when running `terragrunt apply --auto-approve`:
[code]

[2022-07-08 00:04] tcskill opened #338 "Request new module: mas-cp4d-cfg"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Related user story**
#11

**Type of module**

gitops

**If requesting a terraform module, what is the target cloud

[2022-07-08 05:08] triceam commented on #338
/name mas-cp4d-config

[2022-07-08 05:08] triceam commented on #338
/displayName Maximo CP4D Config

[2022-07-08 11:57] #313 closed, assigned to NoeSamaille

[2022-07-10 13:06] seansund opened #339 "Solutions that include Portworx or ODF on IBM Cloud cannot be destroyed cleanly"
The volumes are left hanging around and prevent the resource group from being destroyed. A separate issue has been opened with the resource group module to address the destroy failure if volumes remain - https://github.com/cloud-native-toolkit/terraform-ibm-resource-group/issues/58

We need a way to destroy the volumes if a `purge_volumes` variable is set. This flag would be set to `false` by defa

[2022-07-10 13:31] timroster commented on #339
This does not require manual intervention for ROKS, simply setting the correct property in cluster creation. See: https://github.com/IBM/automation-ibmcloud-infra-openshift/issues/15

Parameter for ROKS cluster is already set, but defaulted to `false` when added: https://github.com/cloud-native-toolkit/terraform-ibm-ocp-vpc/pull/63

**Edit:** above comments are specific to ODF which use cluster se

[2022-07-10 21:26] tcskill opened #340 "destroy on generated automation packages are not removing components from github repo"
when issuing a destroy after a successful install using our generated automation from a BOM (so any of the automation on github.com/ibm automation solutions) the destroy leaves the generated components within the github deploy repo, these have to manually be removed for a subsequent install using the same repo which is really tedious and can be complex for a user.

[2022-07-11 06:11] JyotiRani opened #341 "Updates to verify-gitops-module.yaml for aspera license key"
Update https://github.com/cloud-native-toolkit/action-workflows/blob/v1/.github/workflows/verify-gitops-module.yaml for the newly added ASPERA_LICENSE_KEY secret.

[2022-07-11 14:03] frankeisenhardt opened #342 "Issue on Ascent: {issue}"
Hi I can not enable the compliance features anymore. It is read only. Thank you very much for any help!

[2022-07-11 16:39] seansund commented on #339
Unfortunately, there's no easy way to have the portworx module clean up its own volumes when it is destroyed

[2022-07-11 20:37] triceam opened #343 "maximo/cp4d invalid cert when accessing deployment"
When using your own certs (ex: on Azure), you need to update the cpd route.  See thread here:
https://gsicsi.slack.com/archives/C02KB99P2JC/p1657517055533459?thread_ts=1657488051.381599&cid=C02KB99P2JC

For now, this is an update to the cp4d & maximo readmes

[2022-07-12 20:50] seansund opened #344 "Request new module: uds"
(Click Preview to navigate to guides) Please read the guides on how to create a module for the catalog:
- [Guide for a GitOps Module](https://modules.cloudnativetoolkit.dev/#/how-to/gitops)
- [Guide for a Terraform Module](https://modules.cloudnativetoolkit.dev/#/how-to/terraform)

**Related user story**
Provide the issue number for the user story related to this request, make sure you have create

[2022-07-13 04:50] #341 closed, assigned to triceam

[2022-07-13 07:11] NoeSamaille commented on #342
@frankeisenhardt closing this as we've worked it out.

[2022-07-13 07:11] #342 closed, assigned to NoeSamaille

[2022-07-13 15:16] triceam opened #345 "document runtime/container engine"
- separate readme
- link to readme for all generated solutions
- Docker/Multipass recommended
- describe podman/colima, with caveats that there are known issues
- eventually: how to run locally (no container/vm)
- eventually: how to run on a jump server
- eventually: how to deploy in airgapped environment

[2022-07-13 15:33] triceam opened #346 "Update FS Cloud automation to use gittea by default"

[2022-07-14 14:24] jlang027 opened #347 "access"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-07-14 14:26] #347 closed, assigned to NoeSamaille

[2022-07-14 14:26] jlang027 commented on #347
open by mistake

[2022-07-18 21:52] tcskill opened #348 "update dependency for mas-kafka config"
need to update dependency for the kafka mas config module to pull its namespace from strimzi to support bom generation properly

[2022-07-18 22:14] tcskill commented on #348
closed by PR https://github.com/cloud-native-toolkit/terraform-gitops-mas-kafka/pull/6

[2022-07-18 22:14] #348 closed, assigned to tcskill

[2022-07-19 19:54] rich-ehrhardt opened #349 "Update TechZone infrastructure content"

[2022-07-26 13:07] BrahmSingh opened #350 "Request for New Cluster for CP4BA with 8 worker node and 16X32"
@triceam

Request to you please create a new cluster for CP4BA.
As per IKC (IBM Knowledge Center), we need a **minimum of 8 worker nodes with a 16x32 system required for CP4BA**.

https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/21.0.3?topic=ppd-system-requirements

<img width="1089" alt="Screenshot 2022-07-26 at 6 35 17 PM" src="https://user-images.githubusercontent.com/103416270/18101295

[2022-07-26 13:07] BrahmSingh commented on #350
FYI @saratrip

[2022-07-26 18:40] seansund opened #351 "Gitops process fails for repositories that have approval requirements"
In production environments, pull requests and approvals are often required before changes can be merged into the main branch. Currently the gitops automation creates pull requests (in most cases) but tries to auto-merge the pull request immediately after it is created. If the environment has restrictions in place, the pull request will be in `blocked` status until this is resolved.

1. All places

[2022-07-26 18:52] seansund opened #352 "Airgap gitops install fails because ArgoCD tries to call out to the helm repo"

[2022-07-27 01:20] BrahmSingh commented on #350
@triceam Did you get a chance to review the request?

[2022-07-27 02:48] timroster opened #353 "Request new module: terraform-ibm-ocp-proxyconfig"
**Related user story**
related to https://github.com/cloud-native-toolkit/planning/issues/837, but operating at the cluster level. As a companion module for creating a proxy also https://github.com/IBM/automation-ibmcloud-infra-openshift/issues/3

**Type of module**
terraform

**If requesting a terraform module, what is the target cloud platform?**
ibm
(may be extended with logic for other platfor

[2022-07-28 06:24] vivprata commented on #193
Completed the install of DataStage Ver 4.0.x using Github actions

[2022-07-28 06:24] #193 closed, assigned to seansund

[2022-07-29 01:03] BrahmSingh commented on #350
Hi, @triceam can you please review the request and take the necessary action?

[2022-07-30 02:16] triceam commented on #350
The `toolkit-dev-cp4ba-02` cluster is now available in the `Cloud-Native Squad 02` account.  This is an OpenShift 4.10 cluster, with 9x (16core x 32GB RAM) workers, and ODF deployed.  You should already have access to the cluster/

The cluster is available at:
[https://cloud.ibm.com/kubernetes/clusters/cbhvhnlw0v440t0n4mhg/overview?platformTyp[…]&region=us-east&resourceGroup=a3e53d10e43b46e6b3f2cb

[2022-07-30 02:16] #350 closed, assigned to triceam, seansund

[2022-08-03 19:22] triceam opened #354 "Tubnonomic automation no longer working properly"
The turbnomic automation fails to deploy on both OCP 4.8 and 4.10 on IBM Cloud.

Automation: https://github.com/IBM/automation-turbonomic

The deployment never becomes healthy b/c all of the PVCs (which use the storage class created by the 202 layer) never become healthy.

The error events coming from the PVCs are similar to:
[code]

The storage class has a volume size 10-2000Gi.  The volumes have

[2022-08-03 19:42] timroster commented on #354
is there any reason why the default storage (block) or maybe `ibmc-vpc-block-metro-10iops-tier` since wait for first customer is specified in https://github.com/turbonomic/t8c-install/wiki/Storage-Class-Requirements ?

[2022-08-03 19:46] triceam commented on #354
I was able to recover the deployment by changing the storage class used by Turbonomic to the cluster default: `ibmc-vpc-block-10iops-tier`

Before changing the automation, I need to understand why we created that storage class in the first place... and I do not know why.   @tcskill @mjperrins @seansund Any idea why we create the `ibmc-vpc-block-mzr` storage class for IBM Cloud deployments?  This i

[2022-08-03 19:47] timroster commented on #353
Repo created and populated here: https://github.com/cloud-native-toolkit/terraform-ocp-proxyconfig

[2022-08-03 20:02] tcskill commented on #354
@triceam yes. That is needed on ibm cloud only when you have a vpc deployment or multi region deployment because by default Ibm cloud creates block storage with bind immediately and need it to be wait for first consumer (note only for the use case described above) when on classic cluster not needed, also when on single zone not needed

[2022-08-03 20:07] timroster commented on #354
standard metro classes will work for this use case, no need for a custom storageclass

[2022-08-03 20:08] triceam commented on #354
OK, well, it doesn't work anymore.  The `<sizeRange> is an invalid parameter, Action: Please provide valid parameters}` error is b/c turbo is requesting 1Gi volumes, and the minimum size is 10Gi.  I will update our automation to use the metro class.

[2022-08-03 20:10] tcskill commented on #354
Yes I see new metro has wait for first consumer so should work fine

[2022-08-04 13:47] triceam commented on #353
Closing: not needed.
Repo deleted: https://github.com/cloud-native-toolkit/terraform-gitops-terraform-ibm-ocp-proxyconfig
Removed from catalog: https://github.com/cloud-native-toolkit/software-everywhere/commit/9765283816e33d7444400579cc87a8b346e1c32a

[2022-08-04 13:47] #353 closed, assigned to seansund

[2022-08-04 13:54] triceam opened #355 "Data foundation: Need bill of materials for DB2WH"
Data foundation: Need bill of materials for DB2WH

[2022-08-04 13:59] triceam commented on #294
Closing.  This repo is not needed.  This work exists in https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2

Repo deleted.
Catalog updated: https://github.com/cloud-native-toolkit/software-everywhere/commit/33338053b8e37527c6bb0bd64335f9e4c62edbda

[2022-08-04 13:59] #294 closed, assigned to triceam

[2022-08-04 14:00] triceam commented on #290
Implemented in https://github.com/cloud-native-toolkit/terraform-gitops-cp-db2/pull/12

[2022-08-04 14:00] #290 closed, assigned to triceam

[2022-08-04 15:15] #354 closed, assigned to triceam

[2022-08-04 15:16] triceam commented on #354
Removed 202 layer (no custom storage class for IBM Cloud, switched to use `ibmc-vpc-block-metro-10iops-tier` storage class on IBM Cloud.

Fixed in:
- https://github.com/cloud-native-toolkit/automation-solutions/pull/191/
- https://github.com/IBM/automation-turbonomic/pull/17

[2022-08-04 17:22] triceam opened #356 "Migrate IBM Cloud modules to terraform-ibm-modules"

[2022-08-04 17:23] triceam opened #357 "document process for migrating module repo"
document the process for migrating IBM repos from the `cloud-native-toolkit` org to `terraform-ibm-modules`.

 - use our existing actions, only move repo to new org and use our api keys
 - update module catalog
 - update documentation of each module

[2022-08-04 17:24] triceam opened #358 "move resource group module"

[2022-08-04 17:24] triceam opened #359 "move vpc module"

[2022-08-04 17:25] triceam opened #360 "migration plan for IBM Cloud modules to terraform-ibm-modules"
- Modules Testing files refer these variables - https://github.com/cloud-native-toolkit/action-module-verify/blob/main/env/ibm_ocp48/terraform.tfvars

**Re-grouped the services by category:**

**Account**
- [X] https://github.com/cloud-native-toolkit/terraform-ibm-resource-group
- [X] https://github.com/cloud-native-toolkit/terraform-ibm-access-group
- [X] https://github.com/cloud-native-toolkit/t

[2022-08-04 17:36] triceam opened #361 "long term: converge modules"
- resolve dupes in ibm repo (long term, high level of effort)
- review documentation of each module
- update contribution guide (design philosophy, how things are organized vs ibm modules, etc...)

[2022-08-04 17:45] triceam opened #362 "Maximo automation does not work on AWS ROSA clutsers."
Maximo automation does not work on AWS ROSA clutsers (neither OCP 4.8 or 4.10).  The MAS deployment never becomes healthy, and there are certificate signing problems.   This needs to be investigated further.  It is possible that MAS just won't be supported on ROSA clusters.

[2022-08-04 17:47] triceam opened #363 "MAS: wrap ansible automation in a gitops model"
Create an operator for MAS deployment based on the Ansible automation provided by the product team.  Need a custom resource that defines options for https://github.com/ibm-mas/ansible-devops and will execute the ansible automation for a maximo deployment.

[2022-08-04 17:49] triceam opened #364 "Integrate metadata generation workflow"
- integrate metadata generation (from albee's team) into our github action (publishing index.yaml from module.yaml) in the shared workflow
- investigate terraform-config-inspect to update or replace our terraform parsing logic

[2022-08-04 17:57] triceam commented on #364
Work in progress docs for metadata generator: https://terraform-ibm-modules.github.io/documentation/#/module-catalog-metadata?id=template-metadata-generator

[2022-08-04 17:58] triceam opened #365 "Generate IBM Cloud Schematics Blueprints from a BOM"
Details on IBM Cloud Schematics Blueprints: https://w3.ibm.com/w3publisher/ibm-cloud-schematics/highlights/blueprints

[2022-08-04 19:45] triceam commented on #364
more detail on the docs in PR here: https://github.com/terraform-ibm-modules/documentation/pull/10/files

the cli is supposed to be released tomorrow

[2022-08-04 20:48] triceam commented on #357
1. Need admin access to both https://github.com/terraform-ibm-modules and https://github.com/cloud-native-toolkit
2. Rename the repo in the cloud-native-toolkit org first to prepare for the move. Change the `terraform-ibm` prefix to `terraform-ibm-toolkit`.
3. Transfer ownership of the repo to the https://github.com/terraform-ibm-modules organization.
    - Go to settings, scroll down to "Danger Z

[2022-08-04 21:47] triceam opened #366 "iascable fails with migrated repos"
Generation is failing for repos that have been moved into the `terraform-ibm-modules` repo b/c the metadata in the gh-pages branches for all dependent repos still points at the old location (and does not handle redirects).

For example, I migrated the https://github.com/cloud-native-toolkit/terraform-ibm-resource-group repo over to https://github.com/terraform-ibm-modules/terraform-ibm-toolkit-res

[2022-08-05 13:45] triceam commented on #357
I just ran a test and pointed terraform at the URL for the migrated repo in the terraform-ibm-modules org (which has been moved back to our org, so the redirects will behave the same), like so:

[code]

and Terraform was able to successfully pull the module from the redirected location.  It automatically followed the redirect and pulled from the cloud-native-toolkit org.  So, we can expect Terrafo

[2022-08-05 13:46] triceam commented on #366
I ran a test to see how terraform behaves with redirected content, and it worked as expected (and correctly followed the URL redirects).  Details in the comment here: https://github.com/cloud-native-toolkit/software-everywhere/issues/357#issuecomment-1206476058

So, I think the only failure is really just `iascable` at this point.

[2022-08-05 15:07] triceam commented on #364
Metadata generation tool just released here: https://github.com/IBM-Cloud/terraform-config-inspect/

[2022-08-05 15:12] triceam commented on #364
[Mujeebur Rahman](https://app.slack.com/team/W4GDZ1SNA)  [< 1 minute ago](https://ibm-cloudplatform.slack.com/archives/C03F6UD8SKH/p1659712151374889?thread_ts=1659711979.463499&cid=C03F6UD8SKH)
[code]
Pls run this is command to get the template metadata file and you can use the below provider metadata file for this arg `--metadata path/to/provider-metadata-file`

file attached (needs to be unzippe

[2022-08-05 21:29] triceam commented on #366
Work in progress to update iascable here: https://github.com/cloud-native-toolkit/iascable/pull/173

[2022-08-09 16:34] triceam opened #367 "Usability - Aug 2022"

[2022-08-09 16:41] triceam opened #368 "Synchronize launch scripts across all automation & sych container images"
Consistent docker image
Consistent launch params (uid mapping)

[2022-08-09 16:54] triceam opened #369 "Refine Setup workspace"
Make consistent and limited usability improvements across all generated/static repos

[2022-08-09 16:56] triceam opened #370 "Improve Overally Setup Workspace process"
Refine overall process
Break apart layers
Ability to append any layer to existing automation
Add composability between solutions (infra + software)
more "a-la-carte" exoerience

[2022-08-09 16:58] triceam opened #371 "Declarative solution (solution bom)"
- define solution bom (already done?)
- integrate into iascable
- integrate into ascent
- generate terragrunt config

end goals:
- output from iascable is identical to output from ascent, which is also identical to generate script
- generate script goes away

[2022-08-09 17:05] triceam opened #372 "modules run with minimal dependencies"
No requirement for docker base image or multipass, or prerequisite clis.  Modules can run regardless of preinstalled tools/clis, or can run from host OS.

Some prereqs will need to be defined and documented accordingly:
- `az`
- `aws`

[2022-08-09 17:24] triceam opened #373 "Document discovery experience"
document the experience
- how do you find our automation?
- how do you use our automation?
- how can we improve discovery?

[2022-08-09 17:26] triceam opened #374 "ASCENT branding changes to TechZone Accelerator Toolkit"
ASCENT branding changes to TechZone Accelerator Toolkit - Builder
- [x]  Rebrand ASCENT to TechZone Accelerator Toolkit - Builder
- [x] Rebrand Compliance to Controls Catalog IBM Cloud for Financial Services
- [ ] Send email to Ascent users

New Endpoints
test:
   https://test.builder.cloudnativetoolkit.dev/
   https://test.controls.cloudnativetoolkit.dev/
prod:
   https://builder.cloudnativetoolk

[2022-08-09 17:29] triceam opened #375 "ASCENT access control changes"
- [x] Remove `fs-viewer` role
- [x] Remove `ibm-cloud` role
- [x] Prevent `editor` from publishing `public` content (BOM or Solution)
- [x] Grant `editor` role by default

[2022-08-09 18:08] triceam opened #376 "ASCENT: Solution BOM generation"
Solution BOM generation (push automation-solution logic into Solution BOM that can generate output in ASCENT or IasCable

Related to #371

[2022-08-09 18:11] triceam opened #377 "ASCENT: Remove content that is not ready for general consumption"
Remove content that is not ready for general consumption

- [ ] Remove all Software and Infrastructure BOMS and only dynamically load the content that is know to be working end to end
- [ ] Update Load-Ascent scripts to reflect this
- [ ] Update Load-Ascent to include README and other documents

- [ ] Link this content to the Wizard YAML definition story

[2022-08-09 18:13] triceam opened #378 "ASCENT: Update Wizard to be data driven from BOMs catalog"
Update Wizard to be data driven from BOMs catalog

[2022-08-09 18:14] triceam opened #379 "audit automation repos"
audit automation repos - check for launch/setup workspace script issues

[2022-08-09 18:25] triceam opened #380 "Integration components automated testing"
automated end to end testing for https://github.com/IBM/automation-integration-platform

[2022-08-09 18:26] triceam opened #381 "data foundation automated testing"
automated testing for https://github.com/IBM/automation-data-foundation

[2022-08-09 18:38] triceam opened #382 "E2E Testing: AWS QuickStart BOM"
AWS QuickStart BOM (with automation)
refactored to support end to end test 

[2022-08-09 18:39] triceam opened #383 "E2E: Azure Quickstart BOM"
Azure QuickStart BOM (with automation)
refactored to support end to end test 

[2022-08-09 18:39] triceam opened #384 "E2E: IBM Quickstart BOM"
IBM Cloud QuickStart BOM (with automation)

[2022-08-09 18:39] triceam opened #385 "E2E: IBM Standard BOM"
IBM Cloud Standard BOM (with automation)

[2022-08-09 18:40] triceam opened #386 "E2E: AWS with OCP IPI Standard BOM"
AWS with OCP IPI Standard BOM (with automation)

[2022-08-09 18:40] triceam opened #387 "E2E: Azure with OCP IPI Standard BOM"
Azure OCP IPI Standard BOM (with automation)

[2022-08-09 18:59] triceam commented on #328
needs automation
needs terragrunt

[2022-08-09 19:00] triceam opened #388 "Update FS Cloud automation with Terragrunt"

[2022-08-09 19:42] triceam opened #389 "Cloud Native Toolkit landing site"
Cloud Native Toolkit landing site

- [ ] Add new master landing site page with navigation to Operate and Develop

[2022-08-09 19:42] triceam opened #390 "Cloud Native Toolkit Operate site"
Cloud Native Toolkit Operate site

[2022-08-09 19:44] triceam opened #391 "Ascent usage videos"
TAM(Ascent) usage videos ( Matt )

- Walk through of TAM
- Using TAM to build a solution
- Running Automation from TAM against AWS, Azure IBM Cloud

[2022-08-10 02:21] triceam commented on #368
Research" Can the dockerfile and multipass (cloud init script) both automatically source credentials, so its not needed in the launch script anymore?

something like this appended to `.bashrc`:
[code]

[2022-08-10 02:47] triceam commented on #345
First pass of `RUNTIMES.md` at:
https://github.com/cloud-native-toolkit/automation-solutions/blob/main/common-files/RUNTIMES.md

^^ Individual readmes for each solution will be updated with Docker/Multipass instructions, and link to the shared runtimes doc for additional detail.

Ultimately, the `TROUBLESHOOTING.md` and `RUNTIMES.md` files will be replaced by links to the operator guide, once it g

[2022-08-10 12:56] mjperrins opened #392 "Design Co-Creation Wizard to reflect content validated as BOMs"
Design Co-Creation Wizard to reflect content validated as BOMs

Design a YAML definition that can drive the Co-Creation Wizard automatically.

Define the options to be data driven and to then have an expected and successful outcome on completion.

[code]

[2022-08-10 12:56] mjperrins opened #393 "Design Co-Creation Wizard to reflect content validated as BOMs"
Design Co-Creation Wizard to reflect content validated as BOMs

Design a YAML definition that can drive the Co-Creation Wizard automatically.

Define the options to be data driven and to then have an expected and successful outcome on completion.

[code]

[2022-08-10 20:45] annumberhocker commented on #370
Need to document that if one has to go back into a previously saved off workspace to delete resources, they need to relaunch into the container, change into the appropriate workspace under /workspaces, run `terraform init` again to download the plugins.

[2022-08-11 13:59] tcskill opened #394 "need to pin mas-core version to 8.7"
need to pin mas-core suite version to 8.7 since new release of product is at 8.8. this automation design will freeze at 8.7

[2022-08-11 14:24] mjperrins opened #395 "Review all git repos used in initial set of layered BOMs and validate README is correct and uptodate"
Review all git repos used in initial set of layered BOMs and validate README is correct and up to date

- [ ] Check it is not using the template readme
- [ ] Update to be correct
- [ ] Validate with module own on how its used

**As per scrum discussion**, lets compare the Maximo README as template and check the gaps across software

- README at the software level should describe the BOM
- README a

[2022-08-11 19:43] tcskill commented on #394
closed with PR https://github.com/cloud-native-toolkit/terraform-gitops-cp-maximo/pull/27

[2022-08-11 19:43] #394 closed, assigned to tcskill

[2022-08-15 15:35] seansund opened #396 "Align content with production deployment guides"
The instructions to use the multi-tenant-gitops repository are published here - https://production-gitops.dev/

We need to define the alternative for these deployment guides using software everywhere.

[2022-08-15 15:43] seansund opened #397 "oc pipeline should support terraform modules"
If I run `oc pipeline` on one of our terraform repos it should set up a pipeline to provision the terraform

[2022-08-15 18:33] seansund opened #398 "ASCENT download of terraform should be a git repo"
Currently we allow users to download a tz file containing all of the automation. That tz should also include the git metadata (e.g. have a .git folder created by running something like `git init` and `git add . && git commit -m "Initial commit"`)

That way the user can start making versioned changes to the content and/or push the content quickly to a remote by running `git remote add origin xxx` a